DATABASE_URL=postgres://localhost/mapbiomas_dev
REDIS_URL=redis://localhost:6379
TERRAS_API_URL=http://seeg-mapbiomas.terras.agr.br
TERRAS_MAP_API_URL=http://seeg-mapbiomas.terras.agr.br

DISCOURSE_URL='<forum_url>'
DISCOURSE_SSO_SECRET=0000000000
DISCOURSE_SSO_URL='<forum_url>/session/sso_login'
