<div class="page">
  <div class="glossary__container">
    <div class="glossary__box">
      <%= render 'shared/form_errors', record: @glossary %>
      <h2><%= t('glossaries.edit_item') %></h2>
      <div class="glossary__form">
        <%= render 'form', glossary: @glossary %>
      </div>
    </div>
  </div>
</div>
