#{$all-button-inputs},
button,
%button {
  @include appearance(none);
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: normal;

  &.active,
  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;

    &:hover {
      background-color: $action-color;
    }
  }

  &.primary {
    background-color: $primary-action-color;

    &.active,
    &:hover,
    &:focus {
      background-color: darken($primary-action-color, 15%);
    }

    &:disabled {
      &:hover {
        background-color: $primary-action-color;
      }
    }
  }
}

.button {
  @extend %button;

  &--primary {
    background-color: $primary-action-color;

    &.active,
    &:hover,
    &:focus {
      background-color: darken($primary-action-color, 15%);
      color: $white;
    }
  }

  &--cancel {
    background-color: lighten($red, 15%);

    &.active,
    &:hover,
    &:focus {
      background-color: lighten($red, 5%);
      color: $white;
    }
  }

  &__icon {
    line-height: 0.8rem;
    font-size: 1rem;
    vertical-align: sub;
    margin-left: $small-spacing;
  }
}
