fieldset {
  background-color: lighten($base-border-color, 10%);
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  border-radius: 0;
}

label {
  font-weight: 300;
  margin-bottom: 0;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

input {
  &[type="search"] {
    @include appearance(none);
  }

  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
    margin: 0 $small-spacing 0 0;

    + label {
      display: inline-block;
    }
  }

  &[type="file"] {
    padding-bottom: $small-spacing;
    width: 100%;
  }
}

select {
  margin-bottom: $base-spacing;
  width: 100%;
}

textarea {
  resize: vertical;
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: 0;
  box-sizing: border-box;
  padding-bottom: $small-spacing;
  border-bottom: $base-border;
  width: 100%;
  transition: border-color $base-duration $base-timing;

  &:hover {
    border-bottom-color: darken($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
