table {
  border-collapse: collapse;
  th,
  td {
    padding: 10px;
    border: 1px solid rgba($light-gray, 0.5);
  }
  th {
    border-bottom: 2px solid $light-gray;
  }
}

.table {
  tbody {
    tr:nth-child(odd) {
      background-color: whitesmoke;
    }
  }
}

.text-center {
  text-align: center;
}

.font-small {
  font-size: 12px;
}