// Typography
$base-font-family: "Open Sans", sans-serif;
$heading-font-family: "Lato", sans-serif;

// Font Sizes
$base-font-size: 0.9em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #fff;
$light-blue: #75c7e0;
$medium-blue: #62a5bb;
$light-green: #84caa0;
$medium-green: #77b893;
$dark-gray: #333;
$medium-gray: #7f8184;
$light-gray: #aaa;
$header-color: $white;
$footer-color: $dark-gray;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$primary-action-color: $light-green;
$action-color: $light-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

//React timeline slider

$background-color: rgba($white, 0.8);
$handler-color: $light-gray;
$connector-color: $light-gray;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
