<article class="page">
  <div class="page__container">
    <h1 class="page__title">ABOUT US</h1>

    <p><strong>MapBiomas</strong> is an initiative of the Greenhouse Gas Emissions Estimation System (SEEG) from the Climate Observatory's and is produced by a <strong>collaborative network of co-creators</strong> made up of NGOs, universities and technology companies organized by biomes and cross-cutting themes.</p>

    <strong>Biomes Coordination:</strong>
    <ul>
      <li>Amazon – Institute of Man and Environment of the Amazon (IMAZON)</li>
      <li>Caatinga – State University of Feira de Santana (UEFS) and Plantas do Nordeste Association (APNE)</li>
      <li>Cerrado – Amazon Environmental Reseach Institute (IPAM)</li>
      <li>Atlantic Forest – Foundation SOS Atlantic Forest and ArcPlan</li>
      <li>Pampa – Federal University of Rio Grande do Sul (UFRGS)</li>
      <li>Pantanal – Institute SOS Pantanal and ArcPlan</li>
    </ul>

    <strong>Cross-cutting Themes Coordination:</strong>
    <ul>
      <li>Pasture – Federal University of Goias (LAPIG/UFG)</li>
      <li>Agriculture – Agrosatelite</li>
      <li>Coastal Zone – Vale Technological Institute (ITV)</li>
    </ul>

    <strong>Technology Partners:</strong>
    <ul>
      <li>Google</li>
      <li>EcoStage</li>
      <li>Terras App</li>
    </ul>

    <strong>Financing:</strong>
    <ul>
      <li>Norway's International Climate and Forest Initiative (NICFI)</li>
      <li>Gordon &#38; Betty Moore Foundation</li>
      <li>Arapyaú Institute</li>
      <li>Climate and Land Use Alliance (CLUA)</li>
    </ul>

    <strong>Institutional Partners:</strong>
    <ul>
      <li>WRI Brasil</li>
      <li>Institute for Democracy and Sustainability (IDS)</li>
      <li>AVINA Foundation</li>
      <li>Climate, Forest and Agriculture Coalition</li>
    </ul>

    <p><strong>Technical and Scientific Coordination:</strong> Carlos Souza (IMAZON)</p>

    <p><strong>General Coordination:</strong> Tasso Azevedo (SEEG/OC)</p>

    <p>The project counts on an <strong>Independent Committee of Scientific Advice</strong> composed by renowned specialists:</p>
    <ul>
      <li>Alexandre Camargo Coutinho (Embrapa)</li>
      <li>Edson Eygi Sano (IBAMA)</li>
      <li>Gilberto Camara Neto (INPE)</li>
      <li>Joberto Veloso de Freitas (Brazilian Forestry Service)</li>
      <li>Matthew C. Hansen (Maryland University)</li>
      <li>Mercedes Bustamante (University of Brasília)</li>
      <li>Timothy Boucher (TNC)</li>
    </ul>

    <p><%= link_to 'Click here', page_path('team') %> to know the people who make MapBiomas.</p>
    

  </div>
</article>
