<article class="page">
  <div class="page__container">
    <h1 class="page__title">What is MapBiomas</h1>

    <p>MapBiomas is an open and collaborative platform that generates annual maps and reports about land use, land-use change and forestry (LULUCF). Maps and data gathered in this platform will go back from 1985 until actual days.</p>

    <h2 class="page__subtitle">Origins</h2>

    <p>The Annual Brazilian Land Cover and Land Use Mapping Project (MapBiomas) was born in a workshop held in March 2015 where experts in remote sensing and vegetation mapping gathered in São Paulo at the invitation of OC / SEEG to answer the following questions : Is it  possible to generate annual land cover and land use maps for entire Brazil, at significantly lower costs, faster and in an updatable form, compared to current methods and practices? Is it possible to trace back  the land cover history of recent past decades?</p>

    <p>The answers to both questions were  affirmative, as long as we could rely on an unprecedented computing capacity and a high degree of automation, as well as on the participation of a community of experts in each biome and cross-cutting themes. </p>

    <p>From this diagnosis, we contacted Google and a technical cooperation agreement was established in order to develop the MapBiomas initiative based on the Google Earth Engine platform. Finally, the project began in July 2015 with the MapBiomas team getting a hands-on training on Google Earth Engine, in Mountain View, California.</p>

    <h2 class="page__subtitle">Purpose</h2>

    <p>MapBiomas wants to contribute for greater understanding of land use dynamics in Brazil and other tropical countries, by:</p>

    <ul>
      <li>Developing and putting into practice a reliable, fast and low cost methodology to generate annual maps of land use, land-use change and forestry in Brazil in the last 30 years and keep it up to date.</li>
      <li>Creating a platform to facilitate access to the methodology for other countries and regions interested in using the same basic algorithms. </li>
      <li>Establishing a collaborative network of experts across biomes for mapping land coverage and its dynamic changes.</li>
    </ul>

    <h2 class="page__subtitle">Characteristics</h2>

    <ul>
      <li>Working in a network of institutions who are responsible for different biomes and cross-cutting themes to optimize solutions.</li>
      <li>Distributed and automatized processing of data using Google Earth Engine.</li>
      <li>Efforts concentrated in creating an open and replicable platform in other countries and contexts.</li>
      <li>Collaborative platform designed to incorporate contributions from the scientific community and civil society.</li>
    </ul>
  </div>
</article>
