<article class="page">
  <div class="page__container">
    <h1 class="page__title">Quem somos</h1>

    <p>O <strong>MapBiomas</strong> é uma iniciativa do SEEG/OC (Sistema de Estimativas de Emissões de Gases de Efeito Estufa do Observatório do Clima) e é produzido por uma <strong>rede colaborativa de co-criadores</strong> formado por ONGs, universidades e empresas de tecnologia organizados por biomas e temas transversais.</p>

    <strong>Coordenação nos Biomas:</strong>
    <ul>
      <li>Amazônia – Instituto do Homem e do Meio Ambiente da Amazônia (IMAZON)</li>
      <li>Caatinga – Universidade Estadual de Feira de Santana (UEFS) e Associação Plantas do Nordeste (APNE)</li>
      <li>Cerrado – Instituto de Pesquisa Ambiental da Amazônia (IPAM)</li>
      <li>Mata Atlântica – Fundação SOS Mata Atlântica e ArcPlan</li>
      <li>Pampa – Universidade Federal do Rio Grande do Sul (UFRGS)</li>
      <li>Pantanal – Instituto SOS Pantanal e ArcPlan</li>
    </ul>

    <strong>Coordenação Temas Transversais:</strong>
    <ul>
      <li>Pastagem- Universidade Federal de Goiás (LAPIG/UFG)</li>
      <li>Agricultura – Agrosatélite</li>
      <li>Zona Costeira - Instituto Tecnológico Vale</li>
    </ul>

    <strong>Parceiros de Tecnologia:</strong>
    <ul>
      <li>Google</li>
      <li>EcoStage</li>
      <li>Terras App</li>
    </ul>

    <strong>Financiamento:</strong>
    <ul>
      <li>Iniciativa Internacional de Clima e Florestas da Noruega (NICFI)</li>
      <li>Gordon &#38; Betty Moore Foundation</li>
      <li>Instituto Arapyaú</li>
      <li>Climate and Land Use Alliance (CLUA)</li>
    </ul>

    <strong>Parceiros Institucionais:</strong>
    <ul>
      <li>WRI Brasil</li>
      <li>Instituto Democracia e Sustentabilidade (IDS)</li>
      <li>Fundação AVINA</li>
      <li>Coalisão Clima, Floresta e Agricultura</li>
    </ul>

    <p><strong>Coordenação Técnico-Científica:</strong> Carlos Souza (IMAZON)</p>

    <p><strong>Coordenação Geral:</strong> Tasso Azevedo (SEEG/OC)</p>

    <p>O projeto conta com um <strong>Comitê Independente de Assessoramento Científico</strong> composto por renomados especialistas:</p>
    <ul>
      <li>Alexandre Camargo Coutinho (Embrapa)</li>
      <li>Edson Eygi Sano (IBAMA)</li>
      <li>Gilberto Camara Neto (INPE)</li>
      <li>Joberto Veloso de Freitas (Serviço Florestal Brasileiro)</li>
      <li>Matthew C. Hansen (Universidade de Maryland)</li>
      <li>Mercedes Bustamante (Universidade de Brasília)</li>
      <li>Timothy Boucher (TNC)</li>
    </ul>

    <p><%= link_to 'Clique aqui', page_path('team') %> para conhecer as pessoas que fazem o MapBiomas.</p>
    

  </div>
</article>

<article class="page">
  <div class="page__container">
    <h1 class="page__title">O que é o MapBiomas</h1>
    <p>O Projeto de Mapeamento Anual da Cobertura e Uso do Solo do Brasil é uma iniciativa que que envolver uma rede colaborativa com especialistas nos biomas, usos da terra, sensoriamento remoto, SIG e ciência da computação que utiliza processamento em nuvem e classificadores automatizados desenvolvidos e operados a partir da plataforma Google Earth Engine para gerar uma série histórica de mapas anuais de cobertura e uso da terra do Brasil.</p>

    <h2 class="page__subtitle">Origem</h2>

    <p>O <strong>Projeto de Mapeamento Anual da Cobertura e Uso do Solo no Brasil</strong> (MapBiomas) nasceu em um seminário realizado em março de 2015 onde especialistas em sensoriamento remoto e mapeamento de vegetação se reuniram em São Paulo a convite do SEEG/OC para responder à seguinte pergunta: É possível produzir mapas anuais de cobertura e uso do solo para todo o Brasil de forma significativamente mais barata, rápida e atualizada, comparativamente aos   métodos e práticas atuais, e que possibilitem recuperar o histórico das ultimas décadas?</p>

    <p>A resposta foi afirmativa, desde que houvesse uma capacidade de processamento sem precedentes e um  alto grau de automatização do processo, além  da participação de uma comunidade de especialistas em cada bioma e temas transversais.</p>

    <p>A partir deste diagnóstico foi estabelecido um contato com a Google que gerou um termo de cooperação técnica para desenvolver a iniciativa tendo como base a plataforma Google Earth Engine. Especificamente,  o projeto teve início em julho de 2015 com um treinamento da equipe do MapBiomas sobre o Google Earth Engine em Moutain View, Califórnia.</p>

    <h2 class="page__subtitle">Propósito</h2>

    <p>Contribuir para o entendimento da dinâmica do uso do solo no Brasil e em outros países tropicais tendo como base:</p>

    <ul>
      <li>Desenvolvimento e implementação de uma metodologia rápida, confiável e de baixo custo para gerar mapas anuais de cobertura e uso do solo do Brasil a partir de 1985 até os dias atuais (e posterior atualização anual).</li>
      <li>Criação de uma plataforma para facilitar a disseminação da metodologia para outros países e regiões interessadas utilizando a mesma base de algoritmos.</li>
      <li>Estabelecer uma rede colaborativa de especialistas nos biomas brasileiros para o mapeamento da cobertura do solo e da sua dinâmica de mudanças.</li>
    </ul>

    <h2 class="page__subtitle">Características da iniciativa</h2>

    <ul>
      <li>Trabalho em Rede com instituições responsáveis por diferentes biomas e temas transversais para otimizar as soluções.</li>
      <li>Processamento distribuído e automatizado dos dados através de parceria com Google Earth Engine.</li>
      <li>Trabalho orientado para gerar uma plataforma aberta, multiplicável e com possibilidade de aplicação  em outros países e contextos.</li>
      <li>Plataforma colaborativa - desenhada para incorporar e acolher as contribuições da comunidade científica e demais interessados em colaborar.</li>
    </ul>
  </div>
</article>

<article class="page">
  <div class="page__container">
    <h1 class="page__title">Produtos</h1>

    <p>Todos os produtos do Projeto MapBiomas estão em constante evolução. O esforço inicial foi dividido em três fases:</p>
    <ul>
      <li>Fase 1 – gerou a coleção 1 (Beta) com legenda simplificada cobrindo o período de 2008-2015 (publicado em abril de 2016).</li>
      <li>Fase 2 – gerou a coleção 2 cobrindo o período de 2000-2016.</li>
      <li>Fase 3 – deverá gerar a Coleção 3 cobrindo o período de 1985 – 2017, com previsão de finalizar em 2018.</li>
    </ul>

    <strong>Atenção:</strong>
    <ul>
      <li>Os mapas da Coleção 2.0 do MapBiomas são um produto e evolução e devem ser utilizados com este cuidado.</li>
      <li>Os mapas do MapBiomas tem sua melhor aplicação em escalas até 1:100.000. Embora seja possível vizualizá-los em escala 1:50.000, não recomendamos a utilização dos mesmos nesta escala.</li>
    </ul>

    <h2 class="page__subtitle">Produtos para todos os públicos</h2>

    <ul>
      <li><strong>Mapas de cobertura e uso do solo:</strong> são mapas no formato matricial (pixel de 30x30m). A legenda destes mapas evoluirá ao longo dos três primeiros anos de projeto assim como o período coberto. Inicialmente abrangerá o período de 2008-2015 e chegará a 2017 com mapas anuais desde 1985 com legenda compatível com aquela utilizada no inventário de emissões de gases de efeito estufa no Brasil.</li>
      <li><strong>Mosaicos de imagens</strong> de satélite com a melhor representação possível (e.g., menos nuvens e ruídos) para cada ano da série histórica com resolução espacial máxima de 30 mts formado pela composição dos melhores pixeis de cada conjunto de imagens de um local num determinado período de tempo. Os períodos do ano em que são selecionadas as imagens variam conforme a região (ex. período úmido na caatinga). Cada mosaico contem 14 camadas de informação incluindo as bandas espectrais e as frações (solo, vegetação etc.).</li>
      <li><strong>Relatórios de análise das mudanças de cobertura e uso do solo</strong> a primeira versão será lançada em 2017.</li>
      <li><strong>Plataforma Web de consulta pública</strong> (MapServer) com imagens, mapas e a possibilidade de se gerar estatísticas sobre cobertura/uso do solo e suas transições.</li>
    </ul>

    <h2 class="page__subtitle">Produtos para especialistas ou interessados em se aprofundar</h2>

    <ul>
      <li><strong>Plataforma Web de trabalho (MapBiomas Workspace):</strong> é o ambiente onde o trabalho de produção do MapBiomas ocorre. Nela é possível ajustar, para cada região específica, os diversos parâmetros de processamento e classificação das imagens bem como a aplicação de filtros espacial e temporal, além de realizar análises de concordância e gerar estatísticas dos mapas. Esta plataforma poderá ser multiplicada para aplicações em outros contextos.</li>
      <li><strong>Coleção de scripts de processamento e classificação das imagens:</strong> permite a multiplicação e adaptação para outros contextos.</li>
      <li><strong>Notas metodológicas</strong> explicando todo o método de trabalho incluindo as especificidades de cada bioma e tema transversal mapeado (primeira versão completa disponível em 2016).</li>
    </ul>
  </div>
</article>
