<article class="page">
  <div class="page__container">
    <h1 class="page__title">O que é o MapBiomas</h1>
    <h2 class="page__subtitle">Origem</h2>

    <p>O <strong>Projeto de Mapeamento Anual da Cobertura e Uso do Solo no Brasil</strong> (MapBiomas) nasceu em um seminário realizado em março de 2015 onde especialistas em sensoriamento remoto e mapeamento de vegetação se reuniram em São Paulo a convite do SEEG/OC (Sistema de Estimativas de Emissões de Gases de Efeito Estufa do Observatório do Clima) para responder à seguinte pergunta: É possível produzir mapas anuais de cobertura e uso do solo para todo o Brasil de forma significativamente mais barata, rápida e atualizada, comparativamente aos   métodos e práticas atuais, e que possibilitem recuperar o histórico das ultimas décadas?</p>

    <p>A resposta foi afirmativa, desde que houvesse uma capacidade de processamento sem precedentes e um  alto grau de automatização do processo, além  da participação de uma comunidade de especialistas em cada bioma e temas transversais.</p>

    <p>A partir deste diagnóstico foi estabelecido um contato com a Google que gerou um termo de cooperação técnica para desenvolver a iniciativa tendo como base a plataforma Google Earth Engine. Especificamente,  o projeto teve início em julho de 2015 com um treinamento da equipe do MapBiomas sobre o Google Earth Engine em Moutain View, Califórnia.</p>

    <h2 class="page__subtitle">Propósito</h2>

    <p>Contribuir para o entendimento da dinâmica do uso do solo no Brasil e em outros países tropicais tendo como base:</p>

    <ul>
      <li>Desenvolvimento e implementação de uma metodologia rápida, confiável e de baixo custo para gerar mapas anuais de cobertura e uso do solo do Brasil a partir de 1985 até os dias atuais (e posterior atualização anual).</li>
      <li>Criação de uma plataforma para facilitar a disseminação da metodologia para outros países e regiões interessadas utilizando a mesma base de algoritmos.</li>
      <li>Estabelecer uma rede colaborativa de especialistas nos biomas brasileiros para o mapeamento da cobertura do solo e da sua dinâmica de mudanças.</li>
    </ul>

    <h2 class="page__subtitle">Características da iniciativa</h2>

    <ul>
      <li>Trabalho em Rede com instituições responsáveis por diferentes biomas e temas transversais para otimizar as soluções.</li>
      <li>Processamento distribuído e automatizado dos dados através de parceria com Google Earth Engine.</li>
      <li>Trabalho orientado para gerar uma plataforma aberta, multiplicável e com possibilidade de aplicação  em outros países e contextos.</li>
      <li>Plataforma colaborativa - desenhada para incorporar e acolher as contribuições da comunidade científica e demais interessados em colaborar.</li>
    </ul>
  </div>
</article>
