<article class="page">
  <div class="page__container">
    <h1 class="page__title">Who are we?</h1>

    <p><strong>MapBiomas</strong> is an initiative of System for Estimation of GHG emissions of the Climate Observatory (SEEG/OC) and is produced by a <strong>collaborative network of co-creators</strong> formed by NGOs, universities and companies organized by biomes and cross-cutting themes.</p>

    <strong>Biomes coordinators:</strong>
    <ul>
      <li>Amazon  – Instituto do Homem e do Meio Ambiente da Amazônia (IMAZON)</li>
      <li>Caatinga – Universidade Estadual de Feira de Santana (UEFS) e Associação Plantas do Nordeste (APNE)</li>
      <li>Cerrado – Insituto de Proteção Ambiental da Amazônia (IPAM)</li>
      <li>Mata Atlântica – Fundação SOS Mata Atlântica e ArcPlan</li>
      <li>Pampa – Universidade Federal do Rio Grande do Sul (UFRGS)</li>
      <li>Pantanal – Instituto SOS Pantanal e ArcPlan</li>
    </ul>

    <strong>Cross-cutting themes coordinators:</strong>
    <ul>
      <li>Pasture – Universidade Federal de Goiás (LAPIG/UFG)</li>
      <li>Agriculture – Agrosatélite</li>
      <li>Coastal Zone – Instituto Tecnológico Vale</li>
    </ul>

    <strong>Technology Partners:</strong>
    <ul>
      <li>Google</li>
      <li>EcoStage</li>
      <li>Terras App</li>
      <li>ArcPlan</li>
    </ul>

    <strong>Sponsors:</strong>
    <ul>
      <li>Norway’s International Climate and Forest Initiative (NICFI)</li>
      <li>Gordon & Betty Moore Foundation</li>
      <li>Instituto Arapyaú</li>
    </ul>

    <strong>Institutional Partners:</strong>
    <ul>
      <li>World Resources Institute Brazil</li>
      <li>Democracy and Sustainability Institute (IDS)</li>
      <li>AVINA</li>
    </ul>

    <p><strong>Techno- Scientific coordination:</strong> IMAZON  (Carlos Souza)</p>

    <p><strong>General Coordination:</strong> SEEG/OC (Tasso Azevedo)</p>

    <%= render 'pages/team' %>
  </div>
</article>


