<article class="page">
  <div class="page__container">
    <h1 class="page__title">What is MapBiomas</h1>

    <p>The Brazilian Annual Land Use and Land Cover Mapping Project is an initiative that involves a collaborative network of biomes, land use, remote sensing, GIS and computer science experts that rely on Google Earth Engine platform and its cloud processing and automated classifiers capabilities to generate Brazil’s annual land use and land cover time series.</p>

    <h2 class="page__subtitle">Origin</h2>

    <p>The <b>Brazilian Annual Land Use and Land Cover Mapping Project</b> (MapBiomas) was born in a seminar held in March 2015, São Paulo. Invited by SEEG / OC, remote sensing and vegetation mapping specialists were asked the following question: "Is it possible to produce annual land use and land cover maps, for the entire country, in a significantly cheaper, faster and more updated way, compared to current methods and practices, allowing the possibility of recovering the history of the last decades?"</p>

    <p>The answer was yes, provided there were unprecedented processing power and a high degree of process automation, plus the participation of a community of experts in each biome and cross-cutting themes.</p>

    <p>From this diagnosis, a contact with Google was established, and generated a of technical cooperation term generated to develop the initiative based on the Google Earth Engine platform. Specifically, the project began in July 2015 with training from the MapBiomas team on Google Earth Engine in Moutain View, California.</p>

    <h2 class="page__subtitle">Purpose</h2>

    <p>Contribute to the understanding of the dynamics of land use in Brazil and other tropical countries based on:</p>

    <ul>
      <li>Development and implementation of a fast, reliable and low cost methodology to generate annual land cover and land use maps from 1985 to present (and subsequent annual update):</li>
      <li>Creation of a platform to facilitate the dissemination of the methodology to other interested countries and regions using the same base of algorithms.</li>
      <li>Establish a collaborative network of specialists in Brazilian biomes to map soil cover and its change dynamics.</li>
    </ul>

    <h2 class="page__subtitle">Initiave Characteristics</h2>

    <ul>
      <li>Networking with institutions responsible for different biomes and cross-cutting themes in order to optimize solutions.</li>
      <li>Distributed and automated data processing in partnership with Google Earth Engine.</li>
      <li>Work oriented to generate an open and multipliable platform, with possibility of application in other countries and contexts.</li>
      <li>Collaborative platform - designed to incorporate and welcome contributions from the scientific community and others interested in collaborating.</li>
    </ul>
  </div>
</article>
