<article class="page">
  <div class="page__container">
    <h1 class="page__title">Quem somos</h1>

    <p>O <strong>MapBiomas</strong> é uma iniciativa do SEEG/OC (Sistema de Estimativas de Emissões de Gases de Efeito Estufa do Observatório do Clima) e é produzido por uma <strong>rede colaborativa de co-criadores</strong> formado por ONGs, universidades e empresas organizados por biomas e temas transversais.</p>

    <strong>Coordenação nos Biomas:</strong>
    <ul>
      <li>Amazônia – Instituto do Homem e do Meio Ambiente da Amazônia (IMAZON)</li>
      <li>Caatinga – Universidade Estadual de Feira de Santana (UEFS) e Associação Plantas do Nordeste (APNE)</li>
      <li>Cerrado – Instituto de Pesquisa Ambiental da Amazônia (IPAM)</li>
      <li>Mata Atlântica – Fundação SOS Mata Atlântica e ArcPlan</li>
      <li>Pampa – Universidade Federal do Rio Grande do Sul (UFRGS)</li>
      <li>Pantanal – Instituto SOS Pantanal e ArcPlan</li>
    </ul>

    <strong>Coordenação Temas Transversais:</strong>
    <ul>
      <li>Pastagem- Universidade Federal de Goiás (LAPIG/UFG)</li>
      <li>Agricultura – Agrosatélite</li>
      <li>Zona Costeira - Instituto Tecnológico Vale</li>
    </ul>

    <strong>Parceiros de Tecnologia:</strong>
    <ul>
      <li>Google</li>
      <li>EcoStage</li>
      <li>Terras App</li>
      <li>ArcPlan</li>
    </ul>

    <strong>Financiamento:</strong>
    <ul>
      <li>Iniciativa Internacional de Clima e Floresta da Noruega (NICFI)</li>
      <li>Instituto Arapyaú</li>
      <li>Fundação Moore</li>
    </ul>

    <strong>Parceiros Institucionais:</strong>
    <ul>
      <li>WRI Brasil</li>
      <li>Instituto Democracia e Sustentabilidade (IDS)</li>
      <li>Fundação AVINA</li>
    </ul>

    <p><strong>Coordenação Técnico Científica:</strong> IMAZON  (Carlos Souza)</p>

    <p><strong>Coordenação Geral:</strong> SEEG/OC (Tasso Azevedo)</p>

    <%= render 'pages/team' %>
  </div>
</article>


