<article class="page">
  <div class="page__container">
    <h1 class="page__title">Products</h1>

    <p>All MapBiomas products are constantly evolving. The initial effort was divided into three phases:</p>
    <ul>
      <li>Phase 1 - generated the Collection 1 (Beta), with simplified legend covering the period 2008-2015 (published in April 2016).</li>
      <li>Phase 2 - generated Collection 2, covering the period 2000-2016.</li>
      <li>Phase 3 - will generate Collection 3, covering the period from 1985 to 2017, expected to be completed in 2018.</li>
    </ul>

    <strong>Warning:</strong>
    <ul>
      <li>MapBiomas 2.0 Collection maps are an evolving product. When using the data make sure that you are always using the latest version available.</li>
      <li>MapBiomas maps have their best application in scales up to 1: 100,000. Although it is possible to view them on a 1: 50,000 scale, we do not recommend using them on this scale.</li>
    </ul>

    <h2 class="page__subtitle">PRODUCT TO ALL THE PUBLICS</h2>

    <ul>
      <li><strong>Land use and land cover maps:</strong> maps in the matrix format (30x30m pixel). The legend of these maps as well as the covered period evolves throughout the collections.</li>
      <li><strong>Satellite images mosaics</strong> of each year composing the time series, with a spatial resolution of 30m. The mosaics are formed by the composition of pixels in each set of images for a certain time period (eg, filtering the clouds). The periods of the year in which the images are selected vary by region (eg, wet season in the caatinga). Each mosaic contains 28 layers of information including spectral bands, fractions and indices (eg, NDFI, NDVI, etc.). Mosaics can be accessed directly in Google Earth Engine for processing or download.</li>
      <li><strong>Land use and land cover reports</strong> will be launched in 2017.</li>
      <li><strong>Public Web Platform</strong> with images, maps and statistics of the collections of MapBiomas.</li>
    </ul>

    <h2 class="page__subtitle">PRODUCTS FOR SPECIALISTS OR DEVELOPERS</h2>

    <ul>
      <li><strong>Web Platform (MapBiomas Workspace):</strong> This is the environment where the MapBiomas production takes place. In it, it is possible to adjust, for each specific region, the various image processing and classification parameters as well as the application of spatial and temporal filters, and to perform concordance analysis and generate map statistics. This platform can be replicated for applications in other contexts.</li>
      <li><strong>Image processing and classification scripts:</strong> allows replication and customization to other contexts.</li>
      <li><strong>Methodological notes</strong> explaining the whole working method including the specificities of each biome and cross-sectional theme mapped (the first complete version available in 2016).</li>
    </ul>
  </div>
</article>
