<article class="page">
  <div class="page__container">
    <h1 class="page__title">Produtos</h1>

    <p>Todos os produtos do Projeto MapBiomas estão em constante evolução. O esforço inicial foi dividido em três fases:</p>
    <ul>
      <li>Fase 1 – gerou a coleção 1 (Beta) com legenda simplificada cobrindo o período de 2008-2015 (publicado em abril de 2016).</li>
      <li>Fase 2 – gerou a coleção 2 cobrindo o período de 2000-2016.</li>
      <li>Fase 3 – gerou a Coleção 3 cobrindo o período de 1985 – 2017.</li>
    </ul>

    <strong>Atenção:</strong>
    <ul>
      <li>Os mapas das Coleções do MapBiomas são um produto em evolução. Ao utilizar os dados certifique-se que estar utilizando sempre a última versão disponível.</li>
      <li>Os mapas do MapBiomas tem sua melhor aplicação em escalas até 1:100.000. Embora seja possível visualizá-los em escala 1:50.000, não recomendamos a utilização dos mesmos nesta escala.</li>
    </ul>

    <h2 class="page__subtitle">Produtos para todos os públicos</h2>

    <ul>
      <li><strong>Mapas de cobertura e uso do solo:</strong> são mapas no formato matricial (pixel de 30x30m). A legenda destes mapas assim como o período coberto evolui ao longo das coleções.  </li>
      <li><strong>Mosaicos de imagens</strong> de satélite para cada ano da série histórica com resolução espacial máxima de 30 mts formado pela composição dos pixels representativos de cada conjunto de imagens de um local num determinado período de tempo (ex. filtrando as nuvens). Os períodos do ano em que são selecionadas as imagens variam conforme a região, tema ou bioma. Cada mosaico contém até 105 camadas de informação incluindo as bandas espectrais, frações e índices (ex. NDFI, NDVI etc). Os mosaicos podem ser acessados diretamente no Google Earth Engine.</li>
      <li><strong>Relatórios de análise das mudanças de cobertura e uso do solo</strong> a primeira versão será lançada em 2017.</li>
      <li><strong>Plataforma Web de consulta pública</strong> com imagens, mapas e estatísticas das coleções do MapBiomas.</li>
    </ul>

    <h2 class="page__subtitle">Produtos para especialistas ou interessados em se aprofundar</h2>

    <ul>
      <li><strong>Plataforma Web de trabalho (MapBiomas Workspace):</strong> é o ambiente onde o trabalho de produção do MapBiomas ocorre. Nela é possível ajustar, para cada região específica, os diversos parâmetros de processamento e classificação das imagens bem como a aplicação de filtros espacial e temporal, além de realizar análises de concordância e gerar estatísticas dos mapas. Esta plataforma poderá ser multiplicada para aplicações em outros contextos.</li>
      <li><strong>WebCollect</strong> - ferramenta para coletar amostras para treinamento dos algoritmos de classificação e avaliação de acurácia.</li>
      <li><strong>Coleção de scripts de processamento e classificação das imagens:</strong> permite a multiplicação e adaptação para outros contextos.</li>
      <li><strong>Notas metodológicas</strong> (produzidos no formato de ATBD) explicam todo o método de trabalho incluindo as especificidades de cada bioma e tema transversal mapeado.</li>
    </ul>
  </div>
</article>
