<article class="page">
  <div class="page__container">
    <h1 class="page__title">Produtos</h1>

    <p>Todos os produtos do Projeto MapBiomas estão em constante evolução. O esforço inicial foi dividido em três fases:</p>
    <ul>
      <li>Fase 1 – gerou a coleção 1 (Beta) com legenda simplificada cobrindo o período de 2008-2015 (publicado em abril de 2016).</li>
      <li>Fase 2 – gerou a coleção 2 cobrindo o período de 2000-2016.</li>
      <li>Fase 3 – deverá gerar a Coleção 3 cobrindo o período de 1985 – 2017, com previsão de finalizar em 2018.</li>
    </ul>

    <strong>Atenção:</strong>
    <ul>
      <li>Os mapas da Coleção 2.0 do MapBiomas são um produto e evolução e devem ser utilizados com este cuidado.</li>
      <li>Os mapas do MapBiomas tem sua melhor aplicação em escalas até 1:100.000. Embora seja possível vizualizá-los em escala 1:50.000, não recomendamos a utilização dos mesmos nesta escala.</li>
    </ul>

    <h2 class="page__subtitle">Produtos para todos os públicos</h2>

    <ul>
      <li><strong>Mapas de cobertura e uso do solo:</strong> são mapas no formato matricial (pixel de 30x30m). A legenda destes mapas evoluirá ao longo dos três primeiros anos de projeto assim como o período coberto. Inicialmente abrangerá o período de 2008-2015 e chegará a 2017 com mapas anuais desde 1985 com legenda compatível com aquela utilizada no inventário de emissões de gases de efeito estufa no Brasil.</li>
      <li><strong>Mosaicos de imagens</strong> de satélite com a melhor representação possível (e.g., menos nuvens e ruídos) para cada ano da série histórica com resolução espacial máxima de 30 mts formado pela composição dos melhores pixeis de cada conjunto de imagens de um local num determinado período de tempo. Os períodos do ano em que são selecionadas as imagens variam conforme a região (ex. período úmido na caatinga). Cada mosaico contem 14 camadas de informação incluindo as bandas espectrais e as frações (solo, vegetação etc.).</li>
      <li><strong>Relatórios de análise das mudanças de cobertura e uso do solo</strong> a primeira versão será lançada em 2017.</li>
      <li><strong>Plataforma Web de consulta pública</strong> (MapServer) com imagens, mapas e a possibilidade de se gerar estatísticas sobre cobertura/uso do solo e suas transições.</li>
    </ul>

    <h2 class="page__subtitle">Produtos para especialistas ou interessados em se aprofundar</h2>

    <ul>
      <li><strong>Plataforma Web de trabalho (MapBiomas Workspace):</strong> é o ambiente onde o trabalho de produção do MapBiomas ocorre. Nela é possível ajustar, para cada região específica, os diversos parâmetros de processamento e classificação das imagens bem como a aplicação de filtros espacial e temporal, além de realizar análises de concordância e gerar estatísticas dos mapas. Esta plataforma poderá ser multiplicada para aplicações em outros contextos.</li>
      <li><strong>Coleção de scripts de processamento e classificação das imagens:</strong> permite a multiplicação e adaptação para outros contextos.</li>
      <li><strong>Notas metodológicas</strong> explicando todo o método de trabalho incluindo as especificidades de cada bioma e tema transversal mapeado (primeira versão completa disponível em 2016).</li>
    </ul>
  </div>
</article>
