<article class="page">
  <div class="page__container">
    <h1 class="page__title">Quem somos</h1>

    <p>O <strong>MapBiomas</strong> é uma iniciativa do SEEG/OC (Sistema de Estimativas de Emissões de Gases de Efeito Estufa do Observatório do Clima) e é produzido por uma <strong>rede colaborativa de co-criadores</strong> formado por ONGs, universidades e empresas organizados por biomas e temas transversais.</p>

    <strong>Coordenação nos Biomas:</strong>
    <ul>
      <li>Amazônia – Instituto do Homem e do Meio Ambiente da Amazônia (IMAZON)</li>
      <li>Caatinga – Universidade Estadual de Feira de Santana (UEFS) e Associação Plantas do Nordeste (APNE)</li>
      <li>Cerrado – Insituto de Proteção Ambiental da Amazônia (IPAM)</li>
      <li>Mata Atlântica – Fundação SOS Mata Atlântica e ArcPlan</li>
      <li>Pampa – Universidade Federal do Rio Grande do Sul (UFRGS)</li>
      <li>Pantanal – Instituto SOS Pantanal e ArcPlan</li>
    </ul>

    <strong>Coordenação Temas Transversais:</strong>
    <ul>
      <li>Pastagem- Universidade Federal de Goiás (LAPIG/UFG)</li>
      <li>Agricultura – Agrosatélite</li>
      <li>Zona Costeira - Instituto Tecnológico Vale</li>
    </ul>

    <strong>Parceiros de Tecnologia:</strong>
    <ul>
      <li>Google</li>
      <li>EcoStage</li>
      <li>Terras App</li>
      <li>ArcPlan</li>
    </ul>

    <strong>Financiamento:</strong>
    <ul>
      <li>WRI Brasil</li>
      <li>Instituto Democracia e Sustentabilidade (IDS)</li>
      <li>Fundação AVINA</li>
    </ul>

    <strong>Parceiros Institucionais:</strong>
    <ul>
      <li>Pastagem- Universidade Federal de Goiás (LAPIG/UFG)</li>
      <li>Agricultura – Agrosatélite</li>
      <li>Zona Costeira - Instituto Tecnológico Vale</li>
    </ul>

    <p><strong>Coordenação Técnico Científica:</strong> IMAZON  (Carlos Souza)</p>

    <p><strong>Coordenação Geral:</strong> SEEG/OC  (Tasso Azevedo)</p>

    <h1 class="page__title">O que é o MapBiomas</h1>
    <h1 class="page__subtitle">Origem</h1>

    <p>O <strong>Projeto de Mapeamento Anual da Cobertura e Uso do Solo no Brasil</strong> (MapBiomas) nasceu em um seminário realizado em março de 2015 onde especialistas em sensoriamento remoto e mapeamento de vegetação se reuniram em São Paulo a convite do SEEG/OC para responder à seguinte pergunta: É possível produzir mapas anuais de cobertura e uso do solo para todo o Brasil de forma significativamente mais barata, rápida e atualizada, comparativamente aos   métodos e práticas atuais, e que possibilitem recuperar o histórico das ultimas décadas?</p>

    <p>A resposta foi afirmativa, desde que houvesse uma capacidade de processamento sem precedentes e um  alto grau de automatização do processo, além  da participação de uma comunidade de especialistas em cada bioma e temas transversais.</p>

    <p>A partir deste diagnóstico foi estabelecido um contato com a Google que gerou um termo de cooperação técnica para desenvolver a iniciativa tendo como base a plataforma Google Earth Engine. Especificamente,  o projeto teve início em julho de 2015 com um treinamento da equipe do MapBiomas sobre o Google Earth Engine em Moutain View, Califórnia.</p>

    <h1 class="page__subtitle">Propósito</h1>

    <p>Contribuir para o entendimento da dinâmica do uso do solo no Brasil e em outros países tropicais tendo como base:</p>

    <ul>
      <li>Desenvolvimento e implementação de uma metodologia rápida, confiável e de baixo custo para gerar mapas anuais de cobertura e uso do solo do Brasil a partir de 1985 até os dias atuais (e posterior atualização anual).</li>
      <li>Criação de uma plataforma para facilitar a disseminação da metodologia para outros países e regiões interessadas utilizando a mesma base de algoritmos.</li>
      <li>Estabelecer uma rede colaborativa de especialistas nos biomas brasileiros para o mapeamento da cobertura do solo e da sua dinâmica de mudanças.</li>
    </ul>

    <h1 class="page__subtitle">Características da iniciativa</h1>

    <ul>
      <li>Trabalho em Rede com instituições responsáveis por diferentes biomas e temas transversais para otimizar as soluções.</li>
      <li>Processamento distribuído e automatizado dos dados através de parceria com Google Earth Engine.</li>
      <li>Trabalho orientado para gerar uma plataforma aberta, multiplicável e com possibilidade de aplicação  em outros países e contextos.</li>
      <li>Plataforma colaborativa - desenhada para incorporar e acolher as contribuições da comunidade científica e demais interessados em colaborar.</li>
    </ul>

    <h1 class="page__title">Produtos</h1>

    <p>Todos os produtos do Projeto MapBiomas estão em versão beta (proof-of-concept). São versões para atestar o funcionamento do método de co-criação em rede, a metodologia de produção dos mapas, o ambiente de trabalho e a base de scripts e programação utilizada.</p>

    <strong>Atenção:</strong>
    <ul>
      <li>Os mapas da Coleção 1.0 do MapBiomas são uma versão teste e em processo de validação. Devem ser utilizados com este cuidado.</li>
      <li>Os mapas do MapBiomas tem sua melhor aplicação em escalas até 1:100.000. Embora seja possível vizualizá-los em escala 1:50.000, não recomendamos a utilização dos mesmos nesta escala.</li>
      <li>Os mapas atuais do MapBiomas não são recomendados para utilização no CAR ou   licenciamento de empreendimentos específicos. As instituições envolvidas não se responsabilizam por qualquer utilização no âmbito da justiça ou para demonstração de cumprimento ou descumprimento da legislação.</li>
    </ul>

    <h1 class="page__subtitle">Produtos para todos os públicos</h1>

    <ul>
      <li><strong>Mosaicos de imagens</strong> de satélite com a melhor representação possível (e.g., menos nuvens e ruídos) para cada ano da série histórica com resolução espacial máxima de 30 mts formado pela composição dos melhores pixeis de cada conjunto de imagens de um local num determinado período de tempo. Os períodos do ano em que são selecionadas as imagens variam conforme a região (ex. período úmido na caatinga). Cada mosaico contem 14 camadas de informação incluindo as bandas espectrais e as frações (solo, vegetação etc.).</li>
      <li><strong>Mapas de cobertura e uso do solo:</strong> são mapas no formato matricial (pixel de 30x30m). A legenda destes mapas evoluirá ao longo dos três primeiros anos de projeto assim como o período coberto. Inicialmente abrangerá o período de 2008-2015 e chegará a 2017 com mapas anuais desde 1985 com legenda compatível com aquela utilizada no inventário de emissões de emissões de gases de efeito estufa no Brasil.</li>
      <li><strong>Relatório anual de transições de cobertura e uso do solo:</strong> a primeira versão será lançada em 2016.</li>
      <li><strong>Plataforma WEB de consulta pública</strong> (MapServer) com imagens, mapas e a  possibilidade de se gerar estatísticas sobre cobertura/uso do solo e suas transições.</li>
    </ul>

    <h1 class="page__subtitle">Produtos para especialistas ou interessados em se aprofundar</h1>

    <ul>
      <li><strong>Plataforma Web de trabalho (MapBiomas Workspace):</strong> é o ambiente onde o trabalho de produção do MapBiomas ocorre. Nela é
      possível ajustar, para cada região específica, os diversos parâmetros de processamento e classificação das imagens bem como a aplicação de filtros espacial e temporal, além de realizar análises de concordância e gerar estatísticas dos mapas. Esta plataforma poderá ser multiplicada para  aplicações em outros contextos.</li>
      <li><strong>Coleção de scripts de processamento e classificação das imagens:</strong> permite a multiplicação e adaptação para outros contextos.</li>
      <li><strong>Notas metodológicas</strong> explicando todo o método de trabalho incluindo as especificidades de cada bioma e tema transversal mapeado (primeira versão completa disponível em 2016).</li>
    </ul>
  </div>
</article>
