<article class="page">
  <div class="page__container">
    <!-- <h1 class="page__title">Análise de Acurácia</h1> -->
    <iframe id="accuracy_analysis" src="https://ecostage.shinyapps.io/AppAcuracia/"></iframe>
  </div>
</article>
