<article class="page">
  <div class="page__container">
    <h1 class="page__title">MapBiomas release an updated collection of
Maps Annual Coverage and Land Use Brazil's 2000-2016</h1>
    <p><b>01.09.2018</b></p>

    <p>The <a href="http://mapbiomas.org" target="_blank">MapBiomas Project</a> today released a review of annual coverage maps and land use in Brazil for the period 2000-2016. Collection 2.3 updates the data Collection 2 launched in April 2017. The main aspects of this review include:</p>

    <ol class="numeric_list">
      <li><b>Simplification of Legend</b> - some land cover/use classes, especially in the third level of detail, which had spectral similarities to other classes or were identified only in some biomes were merged. Also the names for native vegetation classes were revised to better comprehension and understanding. The changes aim to make more practical and direct the understanding of maps.</li>

      <li><b>Accuracy Analysis</b> - A complete analysis of accuracy of coverage maps and land use was carried out covering every year and class of Legend. The overall accuracy of collection was 79.3% with 9.5% due to allocation and 11.2% error in area. In the online platform it is now possible to check the accuracy by class, year and biome.</li>

      <li><b>Consistency of time series</b> - the variations of the land cover and land use classes gained better spatial consistency throughout the anual series, this reduced the noise especially on land use /cover change data between years.</li>

      <li><b>Simplifying access to maps and data for analysis</b> - several improvements were implemented in the visualization module and access to data including: (i) comparative viewing of classification maps or landsat images mosaics of two years throughout the territory; (ii) providing in download section the coverage maps of every year in a single file for each biome; and (iii) statistical data coverage and transitions consolidated by county, state and biomes, available in downloadable spreadsheet.</li>
    </ol>

    <p>These improvements are result of progress made in the processing algorithms especially (i) adding a new approach to automatic classification using the results of previous Collections train the classification algorithm Randon Forest; and (ii) inclusion of new temporal and spatial filter stages after the process of integration of thematic maps. Those improvements are described on at the ATBD - Algorithm Theoretical Base Documents also available in the platform.</p>

    <p>Much of the improvement of this collection were inspired by demands, criticisms and suggestions arising from the meetings of the MapBioma's Scientific Committee, the workshops promoted by the project, and especially the numerous contributions of users of the platform that have being digging the data for numerous applications.</p>

    <p>To strengthen this connection with users <b>now it's possible to create an profile</b> in MapBiomas platform. Using this profile any user can prepare and save maps with the territories of interest and generate a URL to include these maps in their own websites. This profile also allow users to keep up to date on what's new in MapBiomas.</p>
    
    <p>The MapBiomas team is now working on preparing the collection 3 expected to be launched in second half 2018 with annual land cover & land use maps covering the period from 1985 to 2017.</p><br>

    <h2 class="page__subtitle">About MapBiomas</h2>

    <p>The Annual Mapping Project of Land Cover and Use of Brazil is an initiative of a muti-institutional collaborative network of universities, companies and NGOs with specialists in biomes, land use, remote sensing and computer science that uses cloud processing and automated classifiers operated in the Google earth Engine platform to generate a time series of annual land cover and land use maps of Brazil.</p>

    <p>All the maps and data as well as the algorithms and tools developed by the project MapBiomas can be freely accessed at mapbiomas.org.</p>

    <p>This project would not be possible without the generous support from Google and it's Earth Engine Platform, the International Forest Program and Climate Norway, Moore Foundation, the Good Energies Foundation, Climate and Land Use Alliance and Instituto Arapyaú.</p>

    <p>To learn more about access project: <a href="http://mapbiomas.org" target="_blank">http://mapbiomas.org</a>.</p>
  </div>
</article>
