<article class="page">
  <div class="page__container">
    <h1 class="page__title">MapBiomas disponibiliza coleção atualizada de
Mapas Anuais de Cobertura e Uso da Terra do Brasil de 2000-2016</h1>
    <p><b>09/01/2018</b></p>

    <p>O <a href="http://mapbiomas.org" target="_blank">Projeto MapBiomas</a> disponibilizou hoje uma revisão dos mapas anuais de cobertura e uso do terra no Brasil para o período 2000-2016. A Coleção 2.3 atualiza os dados da Coleção 2 lançada em abril de 2017. Os principais aspectos desta revisão incluem:</p>

    <ol class="numeric_list">
      <li><b>Simplificação da Legenda</b> - algumas classes de legenda, especialmente no terceiro nível de detalhamento, que apresentavam similaridades espectral com outras classes ou estavam identificadas apenas em alguns biomas foram agregadas. Também foram adequados os termos para classes de vegetação nativa para melhor compreensão e entendimento. As mudanças visam tornar mais prática e direta a compreensão dos mapas.</li>

      <li><b>Análise da Acurácia</b> - foi realizada uma análise completa de acurácia dos mapas de cobertura e uso do solo, abrangendo todos os anos e classe da legenda dos seus diferentes níveis. A acurácia geral da coleção 2.3 foi de 79,3% no nível 1 da legenda, com erro de alocação 9,5% e erro de área 11,2%. Na plataforma on line é possível agora consultar a acurácia por classe, ano, bioma e nível da legenda.</li>
      
      <li><b>Consistência da série temporal</b> - as variações das classes de cobertura e uso ganharam mais consistência espacial ao longo da série temporal reduzindo os ruídos especialmente dos dados de transição de classes entre os anos, em função da adoção de árvores de decisão automáticas baseadas no algoritmo Random Forest.</li>
      
      <li><b>Simplificação do acesso aos mapas e dados para análise</b> - várias melhorias foram implementadas no módulo de visualização e acesso aos dados que incluem: (i) visualização comparativa de classificação e mosaico de imagens de dois anos em todo o território; (ii) disponibilização de mapas de cobertura de todos os anos em um único arquivo para download por bioma; e (iii) dados estatísticos de cobertura e transições consolidados por município, estado e biomas, disponíveis para download em planilha Excel.</li>
    </ol>

    <p>Estas melhorias são consequência de avanços obtidos nos algoritmos de processamento com destaque para (i) inclusão de uma nova abordagem para a classificação automática que utilizou os resultados da Coleção 2 para treinar o algoritmo de classificação Random Forest; e (ii) inclusão de novas etapas de filtro temporal e espacial após o processo de integração dos mapas temáticos. Estes avanços estão descritos nos ATBDs (documentos base do algoritmo) também disponíveis na plataforma.</p>
    <p>Grande parte das melhorias desta coleção foram inspiradas nas demandas, críticas e sugestões oriundas das reuniões do Comitê Científico do MapBiomas, dos workshops temáticos promovidos pelo projeto e, principalmente, das contribuições de dezenas de usuários da plataforma que tem utilizado os dados para inúmeras aplicações.</p>
    <p>Para fortalecer este vínculo com os usuários <b>agora é possível criar um perfil de acesso</b> na plataforma do MapBiomas. A partir desta perfil será possível elaborar  e salvar mapas com os territórios de seu interesse e gerar um URL para incluir estes mapas em suas próprias páginas na internet. Este perfil de acesso também permitirá aos usuários se manterem atualizados sobre as novidades do MapBiomas.</p>
    <p>A equipe do MapBiomas trabalha agora na preparação da Coleção 3 prevista para ser lançada ainda em 2018 com mapas anuais de cobertura e uso do solo cobrindo o período de 1985 a 2017.</p><br>

    <h2 class="page__subtitle">Sobre o MapBiomas</h2>

    <p>O Projeto de Mapeamento Anual da Cobertura e Uso do Solo do Brasil é uma iniciativa de uma rede colaborativa muti-institucional de universidades, empresas e ONGs com especialistas nos biomas, usos da terra, sensoriamento remoto e ciência da computação que utiliza processamento em nuvem e classificadores automatizados desenvolvidos e operados a partir da plataforma Google Earth Engine para gerar uma série histórica de mapas anuais de cobertura e uso da terra do Brasil.</p>

    <p>Todos os mapas e dados bem como os algoritmos e ferramentas desenvolvidos pelo projeto MapBiomas podem ser acessados gratuitamente na plataforma on line.</p>

    <p>Este projeto não seria possível sem o generoso suporte Google e sua plataforma Earth Engine; bem como apoio do Programa Internacional de Florestas e Clima da Noruega,  da Fundação Moore, da Good Energies Foundation, da CLUA e do Instituto Arapyaú.</p>

    <p>Para conhecer mais sobre projeto acesse: <a href="http://mapbiomas.org" target="_blank">http://mapbiomas.org</a>.</p>
  </div>
</article>
