<article class="page">
  <div class="page__container">
    <h1 class="page__title">Downloads</h1>

    <p>Disclaimer </p>

    <p><a href="#">Mapas de coleção 1</a></p>
    <p><a href="#">Mapas de coleção 2</a></p>
    <p><%= link_to 'Reference Maps', page_path('database/reference_maps') %></p>
    <p><a href="#">Mosaicos Landsat 1</a></p>
    <p><a href="#">Mosaicos Landsat 2</a></p>

  </div>
</article>
