<article class="page">
  <div class="page__container">
    <h1 class="page__title">STATISTICS</h1>
    <p>Here you can download the MapBiomas map statistics database in Collection 2.3: </p>

    <ul>
      <li>
        <%= link_to 'COVERAGE', "https://storage.googleapis.com/mapbiomas/assets/colecao-2-3/LandCover%20Data%20-%20MapBiomas%20-%20Collection%202.3%20-%202018.01.04.xlsx", target: "_blank" %>
        -  area (km2) coverage and land use data by biome, state and municipality from 1985 to 2107
      </li>
      <li>
        <%= link_to 'TRANSITIONS', "https://storage.googleapis.com/mapbiomas/assets/colecao-2-3/LandUseChange%20-%20MapBiomas%20-%20Collection%202.3%20-%202017.01.04.xlsx", target: "_blank" %>
        - area (km2) transition / land cover change and biomass, state and municipality data for selected periods between 1985 and 2017.

      </li>
    </ul>
  </div>
</article>
