<article class="page">
  <div class="page__container">
    <h1 class="page__title">LAND COVER/USE STATISTICS</h1>
    <p>Here you can download the database of statistics of maps of Collection 2.3 of MapBiomas: </p>

    <ul>
      <li>
        <%= link_to 'LAND COVER', "https://storage.googleapis.com/mapbiomas/assets/colecao-2-3/LandCover%20Data%20-%20MapBiomas%20-%20Collection%202.3%20-%202018.01.04.xlsx", target: "_blank" %>
        - land cover/use area (km2) per class by biome, state and municipalities from 2000 to 2016
      </li>
      <li>
        <%= link_to 'TRANSITIONS', "https://storage.googleapis.com/mapbiomas/assets/colecao-2-3/LandUseChange%20-%20MapBiomas%20-%20Collection%202.3%20-%202017.01.04.xlsx", target: "_blank" %>
        - land cover transitions/change area (km2) by biome, state and municipality in selected periods between 2000 e 2016.
      </li>
    </ul>
  </div>
</article>
