<article class="page">
  <div class="page__container">
    <h1 class="page__title">Estatísticas</h1>
    <p>Aqui você pode baixar a base de dados das estatísticas dos mapas do MapBiomas na Coleção 2.3:</p>

    <ul>
      <li>
        <%= link_to 'COBERTURA', "https://storage.googleapis.com/mapbiomas/assets/assets/colecao-3-0/biomas_cobertura _col_3_v2_site.xlsx", target: "_blank" %>
        - dados de área (km2) de cobertura e uso do solo por bioma, estado e município de 1985 a 2017
      </li>
      <li>
        <%= link_to 'TRANSIÇÕES', "https://storage.googleapis.com/mapbiomas/assets/colecao-3-0/biomas_transicao_col3_v2_site.xlsx", target: "_blank" %>
        - dados de área (km2) de transição/mudança de cobertura e uso do solo por biomas, estado e município em períodos selecionados entre os anos 1985 e 2017.
      </li>
    </ul>
  </div>
</article>
