<article class="page">
  <div class="page__container">
    <h1 class="page__title">Estatísticas</h1>
    <p>Aqui você pode baixar a base de dados das estatísticas dos mapas do MapBiomas na Coleção 3:</p>

    <ul>
      <li>
        <%= link_to 'COBERTURA', "https://storage.googleapis.com/mapbiomas/assets/colecao-2-3/LandCover%20Data%20-%20MapBiomas%20-%20Collection%202.3%20-%202018.01.04.xlsx", target: "_blank" %>
        - dados de área (km2) de cobertura e uso do solo por bioma, estado e município de 1985 a 2017
      </li>
      <li>
        <%= link_to 'TRANSIÇÕES', "https://storage.googleapis.com/mapbiomas/assets/colecao-2-3/LandUseChange%20-%20MapBiomas%20-%20Collection%202.3%20-%202017.01.04.xlsx", target: "_blank" %>
        - dados de área (km2) de transição/mudança de cobertura e uso do solo por biomas, estado e município em períodos selecionados entre os anos 1985 e 2017.
      </li>
    </ul>
  </div>
</article>
