<article class="page page--home">
  <div class="page__container">
    <section class="page__section">
      <div class="page__section-media--full">
        <iframe style="width: 100%; height: 500px" src="https://www.youtube.com/embed/RjvyvW4zXwo" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>

    <section class="page__section">
      <div class="page__section-text">
        <h2 class="page__title">Explore o Mapa</h2>
        <p>Acesse aqui a Plataforma MapBiomas</p>
        <%= link_to 'Explorar', map_path, class: 'button button--primary' %>
      </div>
      <div class="page__section-media">
        <%= image_tag "platform-mockup.png" %>
      </div>
    </section>

    <section class="page__section">
      <div class="page__section-media">
        <iframe style="width: 100%; height: 300px" src="https://www.youtube.com/embed/EccjrI_qjxA" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="page__section-text">
        <h2 class="page__title">Lançamento do MapBiomas</h2>
        <p>Nova plataforma vai mapear a dinâmica de uso da terra em todo o Brasil nas últimas três décadas. Veja transmissão ao vivo.</p>
      </div>
    </section>

    <section class="page__section--full">
      <h2 class="page__title">Parceiros</h2>
      <%= image_tag "partners.png" %>
    </section>
  </div>
</article>
