<article class="page">
  <div class="page__container">
    <h1 class="page__title">What is land use</h1>
    <p>Human-induced changes on Earth's surface have caused significant transformations  regarding the structure and functioning of ecosystems, with deep implications for the environmental sustainability. Thus, our ability to detect these changes and their impacts constitutes a major research challenge, in both the  environmental sciences and humanities. </p>
    <p>By land cover, we refer to  the natural layer over the earth's surface. For practical purposes, "stricto sensu" land cover refers to the natural surface, whether made up of rock outcrops,  bare soil or native vegetation, such as forests, grasslands and fields.</p>
    <p>By land use we mean a variety of anthropogenic arrangements, activities, and inputs over the land in order  to produce, change or maintain a given covGet ierage.</p>
    <p>The occupation of the land surface is marked by different conversions and transitions between land cover and land uses, in a very dynamic process.  These transitions, in most cases driven by food production, are directly related to the emission of greenhouse gases (e.g. Conversion of forest to pasture emits CO2), threatens the biodiversity and changes the urban microclimate.</p>
    <p>The following examples illustrate the change settings in coverage and land use: In the Amazon, the forest areas have been converted into pastures and urban areas, while rocky fields in altitude are converted into areas of legal mining.</p>

    <%= image_tag 'land-use.png' %>
  </div>
</article>
