<article class="page">
  <div class="page__container">
    <h1 class="page__title">Mudanças no uso do solo</h1>

    <p>As mudanças induzidas pelo homem na superfície terrestre causam modificações na estrutura e funcionamento dos ecossistemas. Estas mudanças tem implicações para a sustentabilidade ambiental e detectar as mudanças da cobertura do solo e seus diferentes usos é um grande desafio de investigação para as ciências ambientais e humanas.</p>

    <p>A Cobertura do solo é a cobertura biofísica nativa da superfície da Terra. Na prática, a cobertura do solo refere-se à superfície natural “stricto sensu”, seja ela constituída por afloramento rochoso, solo exposto ou cobertura vegetal nativa como florestas, savanas e campos.</p>

    <p>O Uso do solo é caracterizado por arranjos, atividades e insumos feitos pelo homem sobre um determinado tipo de cobertura do solo para produzir, alterar ou conservar esta cobertura.</p>

    <p>A ocupação da superfície provoca transições entre diferentes coberturas e usos do solo. Estsa transições impactam a geração de gases de efeito estufa (p.ex. Conversão de floresta para pastagem emite CO₂), conservação da biodiversidade, a produção agropecuária, o microclima nas cidades e até a qualidade do ar.</p>

    <p>O exemplo a seguir ilustra as definições de mudança na cobertura e no uso do solo:</p>

    <p>Na amazônia, as áreas de floresta tem sido convertidas em pastagens e áreas urbanas, enquanto campos rupestres de altitude são convertidos em áreas de mineração legal.</p>

    <%= image_tag 'land-use.png' %>
  </div>
</article>
