<article class="page">
  <div class="page__container">
    <h1 class="page__title">Mudanças de uso da terra</h1>

    <p>As mudanças induzidas pelo homem na superfície terrestre causam modificações na estrutura e funcionamento dos ecossistemas. Estas mudanças tem implicações para a sustentabilidade ambiental e detectar as mudanças da cobertura da terra e seus diferentes usos é um grande desafio de investigação para as ciências ambientais e humanas.</p>

    <p>A Cobertura da terra é cobertura biofísica nativa da superfície da terra. Na prática, a cobertura da terra refere-se a superfície natural “stricto senso”, seja ela constituída por rochas ou solos expostos, e coberturas vegetais nativas, como florestas, savanas e campos.</p>

    <p>O Uso da terra é caracterizado por arranjos, atividades e insumos feitos pelo homem sobre um determinado tipo de cobertura da terra para produzir, alterar ou conservar esta cobertura.</p>

    <p>A ocupação da superfície provoca a transições entre diferentes coberturas e uso da terra. Estsa transições impactam a geração de gases de efeito estufa (ex. Conversão de floresta para pastagem emite CO₂), conservação da biodiversidade, a produção agropecuária, o microclima nas cidades e até a qualidade do ar.</p>

    <p>O exemplo a seguir ilustra as definições de mudança na cobertura e no uso da terra:</p>

    <p>Na amazônia, as áreas de floresta tem sido convertidas em pastagens e áreas urbanas, enquanto campos rupestres de altitude são convertidos em áreas de mineração legal.</p>
  </div>
</article>
