<article class="page">
  <div class="page__container">
    <h1 class="page__title">Códigos de Legenda</h1>
    <p>Os arquivos abaixo contem as referencias para os códigos de legenda que aparecem nos arquivos raster das coleções do Mapbiomas:</p>
    <ul>
      <li>
        <%= link_to 'CÓDIGOS DE LEGENDA - COLECAO 3.0', "https://storage.googleapis.com/mapbiomas/legenda/Download_codigos_da_legenda_3.0_rev1.pdf", target: "_blank" %>
      </li>
      <li>
        <%= link_to 'CÓDIGOS DE LEGENDA - COLEÇÃO 2.3', "https://storage.googleapis.com/mapbiomas/assets/Download___C%C3%B3digos_da_legenda_2.3.pdf", target: "_blank" %>
      </li>
      <li>
        <%= link_to 'CÓDIGOS DE LEGENDA - COLECAO 2.0', "https://storage.googleapis.com/mapbiomas/assets/Download___C%C3%B3digos_da_legenda_Colecao_2.pdf", target: "_blank" %>
      </li>
    </ul>
  </div>
</article>
