<article class="page">
  <div class="page__container">
    <h1 class="page__title">Codes of the legend</h1>
    <p>The files below contain the references to the legend codes that appear in the raster files of the Mapbiomas collections:</p>
    <ul>
      <li>
        <%= link_to 'LEGEND CODES - COLLECTION 2.3', "https://storage.googleapis.com/mapbiomas/assets/Download___C%C3%B3digos_da_legenda_2.3.pdf", target: "_blank" %>
      </li>
      <li>
        <%= link_to 'LEGEND CODES - COLECAO 2.0', "https://storage.googleapis.com/mapbiomas/assets/Descri%C3%A7%C3%A3o_Legenda_Cole%C3%A7%C3%A3o_2.pdf", target: "_blank" %>
      </li>
    </ul>
  </div>
</article>
