<article class="page">
  <div class="page__container">
    <h1 class="page__title">Mapa Mural</h1>
    <p>Download de arquivo para impressão:</p>
    <ul>
      <li><%= link_to 'TiFF (199 MB)', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Mapa+Mural/Mapa_Mapbiomas_2015_v2.tif", target: "_blank" %></li>
      <li><%= link_to 'PDF (20 MB)', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Mapa+Mural/Mapa_Mapbiomas_500_2015_v3.pdf", target: "_blank" %>)</li>
    </ul>
    <%= link_to (image_tag "mapa_mapbiomas.png") %>
  </div>
</article>
