<article class="page">
  <div class="page__container">
    <h1 class="page__title">Mapa Mural</h1>
    <p>Download de arquivo para impressão:</p>
    <ul>
      <li><%= link_to 'TiFF (209 MB)', "https://storage.googleapis.com/mapbiomas/assets/Mapa_Mapbiomas_2015_Col2_3%20-%202017.12.20%20FINAL.tif", target: "_blank" %></li>
      <li><%= link_to 'PDF (47 MB)', "https://storage.googleapis.com/mapbiomas/assets/Mapa_Mapbiomas_2015_Col2_3%20-%202017.12.20%20FINAL.pdf", target: "_blank" %>)</li>
    </ul>
    <%= link_to (image_tag "mapa_mapbiomas_v2.png") %>
  </div>
</article>
