<article class="page">
  <div class="page__container">
    <h1 class="page__title">Mural Map</h1>
    <p>Download for printing purpose:</p>
    <ul>
      <li><%= link_to 'TiFF (209 MB)', "https://storage.googleapis.com/mapbiomas/assets/colecao-2-3/Mapa_Mapbiomas_2015_Col2_3_Albers.tif", target: "_blank" %></li>
      <li><%= link_to 'PDF (47 MB)', "https://storage.googleapis.com/mapbiomas/assets/colecao-2-3/ArcGisProj_Mapa_Mapbiomas_2015_Col2_3.pdf", target: "_blank" %></li>
    </ul>
    <%= link_to (image_tag "mapa_mapbiomas_v3.png") %>
  </div>
</article>
