<article class="page">
  <div class="page__container">
    <h1 class="page__title">Metodologia</h1>
    <h1 class="page__subtitle">Co-Criação em Rede</h1>

    <p>O MapBiomas é co-criado em rede por um conjunto de ONGs, universidades e empresas envolvidas no projeto. A metodologia de trabalho vai sendo desenhada ao mesmo tempo que vão sendo gerados protótipos rápidos para testar as hipóteses de caminhos para o processamento e classificação das imagens.</p>
    <p>As instituições estão baseadas em nove estados e operam de forma independente mas conectada. Os scripts e todo material de trabalho são compartilhados em uma plataforma comum de trabalho em três ambientes: Google Earth Engine, Google Drive e MapBiomas Workspace.</p>
    <p>As etapas do trabalho estão descritas abaixo. A <strong>Nota Metodológica V1.0</strong> pode ser encontrada <strong>aqui</strong>.</p>

    <%= image_tag "methodology.png" %>
  </div>
</article>
