<article class="page">
  <div class="page__container">
    <h1 class="page__title">Products</h1>

    <p>All MapBiomas products currently available are in beta version (proof of concept), with the purpose  of demonstrating  the network co-creation strategy, the map production approaches, the working environment and the basic scripting and programming used.</p>

    <strong>Cautionary Note:</strong>
    <ul>
      <li>MapBiomas  Collection 1 Maps constitute a test version, with validation in progress. Bear in mind they should be used with caution and not as a replacement of currently available maps.</li>
      <li>MapBiomas maps are intended to be used at scales  up to 1: 100,000 and we do not endorse their use at larger scales (e.g. . 1: 50,000).</li>
      <li>The current MapBiomas maps are not recommended for use in CAR (Cadastro Ambiental Rural) or specific licensing projects. The institutions involved are not liable for any use in the course of justice or for demonstration of compliance or noncompliance with the law.</li>
    </ul>

    <h2 class="page__subtitle">For all types of audiences</h2>

    <ul>
      <li><strong>Satellite image mosaics</strong> with the best possible representation (e.g., minimum clouds and noises) for each year of the time series, with a maximum spatial resolution of 30 meters, composited from the best observation, on a pixel basis, for any given location and period of time. The periods of the year when the images are selected vary by region (e.g. wet season  in the semi-arid, "Caatinga" biome). Each tile contains 14 layers of information including the spectral bands and the respective fraction images (soil, vegetation, etc.).</li>
      <li><strong>Land cover and land use maps:</strong> are maps in raster format (pixel 30x30m). The caption, as well as the period encompassed by these maps, will increasingly become more complete and complex over the first three years of  the project. . For the released beta version and soon to be released collection 1, we considered the 2008-2015 period. Until 2017, our expectation is to have  annual maps since 1985, with a level of detail (classwise)  compatible with that used in the inventory of greenhouse gas emissions in Brazil.</li>
      <li><strong>Annual Report of land cover and land-use change:</strong> the first version will be released in 2016.</li>
      <li><strong>Web Platform</strong> (MapServer) with images, maps, and the ability to generate statistics regarding land cover / land use and their respective  transitions.</li>
    </ul>

    <h2 class="page__subtitle">Products for specialists and tools for users who’d like in-depth content</h2>

    <ul>
      <li><strong>MapBiomas Workspace:</strong> is the environment where the MapBiomas production work takes place. It is possible to set, for each specific region, the different processing parameters and classification of images, as well as the application of spatial and temporal filters, to perform correlation analysis and to generate statistics maps. This platform can be used  for applications in other contexts.</li>
      <li><strong>Collection of scripts for image processing and classification:</strong> allows replication and adaptation to other contexts.</li>
      <li><strong>Methodological notes</strong> explaining all the work method, including the specificities of each biome and mapped cross-cutting theme (first complete version will be available in 2016).</li>
    </ul>
  </div>
</article>
