<article class="page">
  <div class="page__container">
    <h1 class="plage__title">
Nova plataforma vai mapear a dinâmica de uso da terra em todo o Brasil nas últimas três décadas
    </h1>

<p>São Paulo, 26 de novembro -  Uma rede de ONGs, universidades e empresas lança nesta quinta-feira a plataforma on-line MapBiomas, cujo objetivo é produzir mapas anuais da cobertura e uso do solo no Brasil, desde 1985 até os dias atuais. Os mapas  poderão ser visualizados no portal do MapBiomas, onde também estarão disponíveis informações e estatísticas sobre a cobertura e uso do solo para cada ano, em diversas escalas (município, estado, bioma), e também as transições de um ano para o outro.</p>
<p>A partir dos mapas produzidos será possível identificar as transformações do uso da terra em áreas com floresta, pastagens, agricultura,  reflorestamento e áreas urbanas, dentre outros temas, em todo o território nacional.</p>
<p>A plataforma está sendo desenvolvida com base na tecnologia do Google Earth Engine,  que permite o processamento das imagens de satélite na nuvem de forma distribuída e rápida. </p>
<p>Estão contemplados  todos os biomas terrestres (Amazônia, Cerrado, Caatinga, Pantanal, Pampa e Mata Atlântica) e três áreas transversais - agricultura, pastagens e zona costeira.</p>
<p>Realizado por mais de 20 organizações, o projeto é desenvolvido em uma plataforma comum, aberta e colaborativa, na qual pesquisadores, especialistas de diferentes biomas e áreas temáticas e programadores do MapBiomas elaboram a metodologia, os scripts e códigos de forma interativa.</p>
<p>A iniciativa surgiu  para suprir a  necessidade de informações atualizadas sobre a dinâmica de uso da terra no Brasil para contabilizar as emissões de gases de efeito estufa no País e subsidiar políticas públicas no setor de uso da terra e agropecuária. Atualmente os dados de mudança de uso do solo em escala nacional são produzidos somente em intervalos de 5 a 8 anos.. “A produção de mapas anuais vai mudar a forma como enxergamos a dinâmica de uso do solo no Brasil e isso vai ser possível aplicando novas tecnologias e ferramentais hoje disponíveis que não existiam a poucos anos atrás”, afirma Tasso Azevedo, coordenador geral do projeto.</p>
<p>Uma das maiores inovações da plataforma MapBiomas é o uso de processamento distribuído e o trabalho em rede de co-criação, o que permite a produção de mapas de cobertura e uso do solo de uma forma muito mais rápida e barata e sem comprometer a qualidade, se comparado com os métodos atualmente aplicados. Além disso, sua arquitetura permite a atualização e revisão dos dados sempre que surgirem novas formas de melhorar a interpretação das imagens de satélite.  </p>
<p>Os mapas já produzidos por interpretação visual das imagens de satélite por diversas instituições brasileiras como INPE, IBGE e IBAMA, dentre outros são utilizados como referência para calibrar a plataforma.</p>
<p>Para Carlos Souza Jr,  coordenador técnico do MapBiomas e pesquisador sênior do Imazon, o que motiva a rede de colaboradores é verificar que os resultados e avanços do processamento são gerados de forma mais rápida.“Com essa nova tecnologia, nós acessamos a base de dados, em larga escala, temos ferramentas computacionais, já processamos, e podemos ver resultados quase em tempo real”.</p>
<p>Por meio dos mapas gerados, será possível saber a história de uso da terra em todo o território nacional e as transições que ocorrem nos biomas ao longo dos anos. Ane Alencar, pesquisadora do IPAM e responsavél pelo estudo do Bioma Cerrado, destaca o caráter inédito dessa informação atualizada no Brasil.”Vamos conseguir saber quanto de floresta foi transformado em pastagem, quanto de cerrado foi transformado em agricultura ou área urbana, desde 1985 até os dias de hoje”.</p>
<p>Os dados gerados pelo MapBiomas poderão ainda apoiar no monitoramento das metas brasileiras de redução de emissões de gases de efeito estufa, nas metas de conservação e proteção da biodiversidade, na implementação do Sistema Nacional de Unidades de Conservação e em outras políticas relacionadas ao uso do solo.  </p>
<p>A melhor compreensão sobre a dinâmica de uso da terra no Brasil, permitirá estimar melhor as emissões de gases de efeito estufa e melhorar a gestão da ocupação territorial. “Nós podemos ter, através de uma classificação automatizada, um monitoramento de alterações de uso do solo e da cobertura vegetal natural necessário para planejamento regional e para orientação das politicas ambientais do Pais”, explica Marcos Rosa, coordenador do trabalho nos biomas Mata Atlântica e Pantanal. “É essencial para que a gente faça a inteligência territorial. Esse é o caminho futuro para o Brasil aliar produção de alimentos e sustentabilidade”, complementa Laerte Ferreira, do LAPIG/UFG responsável pela análise do tema transversal pastagem.</p>
<p>O acesso à ferramenta de trabalho e aos dados será aberto, de forma que pesquisadores do Brasil e de fora do país poderão, além de usar os produtos gerados como os mapas e mosaicos de imagens de satélite, trabalhar na própria ferramenta que gera os dados.</p>
<p>“O MapBiomas é um projeto inovador e ambicioso para entender as mudanças de uso do solo no Brasil”, diz Rebecca Moore, Diretora do Google Earth Engine “e acreditamos que se alinha naturalmente com nosso compromisso na Google de desenvolver tecnologias que ajudam as pessoas a encontrar, usar e gerar informações úteis para enfrentar os desafios de nosso tempo”.</p>
<p>No evento de lançamento, será apresentada a plataforma aberta e colaborativa criada para gerar os mapas e a primeira série piloto e experimental de mapeamento de cobertura do solo elaborada para o período de 2008 a 2015 para todo o país.</p>

Realização: SEEG / Observatório do Clima
Co-criadores:
•	Agrosatélite
•	Associação Plantas do Nordeste (APNE)
•	Fundação SOS Mata Atlântica
•	Instituto de Pesquisa Ambiental da Amazônia (IPAM)
•	Instituto do Homem e Meio Ambiente da Amazônia (Imazon)ou
•	Instituto SOS Pantanal
•	Instituto Tecnológico Vale (ITV)
•	Universidade Estadual de Feira de Santana (UEFS)
•	Universidade Federal de Goiás (LAPIG/UFG)
•	Universidade Federal do Rio Grande do Sul (UFRGS)

Parceiros de tecnologia: ArcPlan | Ecostage | Google | Terras

Apoio Institucional: Fundação Avina | Instituto Democracia e Sustentabilidade (IDS) | WRI Brasil

Financiamento: Iniciativa Internacional de Clima e Floresta da Noruega (NICFI) | Instituto Arapyaú | Gordon and Betty Moore Foundation 

Serviço

Data: 26 de novembro, quinta-feira
Horário: 10h às 12h30
Local: Museu do Objeto Brasileiro A Casa - Av. Pedroso de Morais, 1216, São Paulo
Contato para a imprensa: Daniela Ades (comunicação@mapbiomas.org)

Acesso a Plataforma MapBiomas:
http://mapbiomas.org
  </div>
</article>
