<article class="page">
  <div class="page__container">
    <h2 class="page__title">SCRIPT MAPBIOMAS COLEÇÃO 2</h2>
    <p>O Scritp da Coleção 2 do MapBiomas no Google Earth Engine é publico e pode ser <%= link_to 'baixado aqui', "https://s3.amazonaws.com/mapbiomas-ecostage/mapbiomas-script-colecao-2.txt", {target: "_blank"} %></p>
    <p>Para acessar e rodar siga as seguintes instruções:</p>
    <ul>
      <li>Com uma conta Gmail cadastre-se na Plataforma Google Earth Engine através deste link <%= link_to 'https://earthengine.google.com', "https://earthengine.google.com", {target: "_blank"} %></li>
      <li>Dentro de alguns dias você receberá a autorização de acesso a plataforma.</li>
      <li>Uma vez cadastrado no Google Earth Engine entre no CODE EDITOR da plataforma e cole/insira o script do MapBiomas.</li>
      <li>Altere os parâmetros para obter o mapa desejado. Por exemplo, você pode escolher um bioma ou estado, diferentes períodos de aquisição de imagens, máximo de cobertura de nuvens, parâmetros de classificação etc.</li>
    </ul>
    <p>Encorajamos que os usuários do SCRIPT MAPBIOMAS nos enviem suas sugestões de inovação para que possamos aprimorá-lo constantemente.</p>
    <p><br><%= image_tag "google-earth-engine.jpg" %></p>
    <p></p>
    <h2 class="page__title">ACESSO AS COLEÇÕES MAPBIOMAS NO GOOGLE EARTH ENGINE</h2>
    <p>As coleções de Imagens e Mapas do MapBIomas estão disponíveis para serem acessadas como asset diretamente no Google Earth Engine, sem a necessida de baixar ou subir os dados. É possível acessar inclusive os produtos intermediários produzidos. Segue os produtos disponíveis e os respectivos IDs de acesso no Google Earth Engine:</p>
    <p></p>
    <p>
      Mosaico de Imagens Landsat para cada ano da Coleção 2<br>
      <b>id: projects/mapbiomas-workspace/MOSAICOS/workspace</b>
    </p>
    <p>
      Mapas integrados finais da coleção 2<br>
      <b>id: projects/mapbiomas-workspace/COLECAO2_1/integracao</b>
    </p>
    <p>
      Mapas de cada bioma sem filtro temporal e antes da integração com temas transversais<br>
      <b>id: projects/mapbiomas-workspace/COLECAO2_1/classificacao</b>
    </p>
    <p>
      Mapas de cada bioma com filtro temporal e antes da integração com temas transversais<br>
      <b>id: projects/mapbiomas-workspace/COLECAO2_1/classificacao-ft</b>
    </p>


  </div>
</article>