<article class="page">
  <div class="page__container">
    <h1 class="page__title">GOOGLE EARTH ENGINE</h1>

    <p>O MapBIomas usa a tecnologia da plataforma GOOGLE EARTH ENGINE. Disponibilizamos scripts para facilitar acesso às coleções do MapBiomas.</p>

    <p>Para acessar e rodar siga as seguintes instruções:</p>

    <ul>
      <li>Com uma conta Gmail cadastre-se na Plataforma Google Earth Engine através deste link <%= link_to 'https://earthengine.google.com', "https://earthengine.google.com", {target: "_blank"} %></li>
      <li>Dentro de alguns dias você receberá a autorização de acesso a plataforma.</li>
      <li>Uma vez cadastrado no Google Earth Engine entre o link dos scripts que deseja rodar.</li>
      <li>Altere os parâmetros para obter o mapa desejado.</li>
    </ul>

    <p>Encorajamos que os usuários do SCRIPT MAPBIOMAS nos enviem suas sugestões de inovação para que possamos aprimorá-lo constantemente.</p>

    <p><br><%= image_tag "google-earth-engine.jpg" %></p>

    <p></p>

    <h2 class="page__title">ACESSO AS COLEÇÕES MAPBIOMAS NO GOOGLE EARTH ENGINE</h2>

    <p>As coleções de Imagens e Mapas do MapBIomas estão disponíveis para serem acessadas como asset diretamente no Google Earth Engine, sem a necessidade de baixar ou subir os dados. Segue os produtos disponíveis e os respectivos IDs de acesso no Google Earth Engine:</p>

    <p></p>

    <p>
      Mapas integrados finais da coleção 3.<br>
      <b>id: projects/mapbiomas-workspace/public/collection3/mapbiomas_collection3_integration_v1</b>
    </p>

    <p>
      Mapas de áreas de transição (mudança de cobertura ou uso) entre anos selecionados<br>
      <b>id: projects/mapbiomas-workspace/public/collection3/mapbiomas_collection3_transitions_v1</b>
    </p>

    <p>
      Mosaico de Imagens Landsat para cada ano da Coleção 3<br>
      <b>id: projects/mapbiomas-workspace/MOSAICOS/workspace-c3</b>
    </p>

  </div>
</article>
