<article class="page">
  <div class="page__container">
    <h1 class="page__title">GOOGLE EARTH ENGINE</h1>

    <p>MapBIomas uses technology from the GOOGLE EARTH ENGINE platform. We provide scripts to facilitate access to the MapBiomas collections.</p>

    <p>To access and run follow the following instructions:</p>

    <ul>
      <li>With a Gmail account sign up for the Google Earth Engine Platform through this link <%= link_to 'https://earthengine.google.com', "https://earthengine.google.com", {target: "_blank"} %></li>
      <li>In a few days you will receive authorization to access the platform.</li>
      <li>Once registered in Google Earth Engine between the link of the scripts you want to run.</li>
      <li>Change the parameters to get the map you want. </li>
    </ul>

    <p>We encourage SCRIPT MAPBIOMAS users to send us their suggestions for innovation so that we can constantly improve it.</p>

    <p><br><%= image_tag "google-earth-engine.jpg" %></p>

    <p></p>

    <h2 class="page__title">ACCESS TO MAPBIOMAS COLLECTIONS ON GOOGLE EARTH ENGINE</h2>

    <p>Images and Maps collections are available to be accessed as an asset directly from Google Earth Engine, without the need to download or upload data. Here are the available products and their access IDs in Google Earth Engine:</p>

    <p></p>

    <p>
      Collection final maps 3.<br>
      <b>id: projects / mapbiomas-workspace / public / collection3 / mapbiomas_collection3_integration_v1</b>
    </p>

    <p>
      Transition area maps (change of coverage or use) between selected years.<br>
      <b>id: projects / mapbiomas-workspace / public / collection3 / mapbiomas_collection3_transitions_v1</b>
    </p>

    <p>
      Landsat Image Mosaic for each year of Collection 3<br>
      <b>id: projects / mapbiomas-workspace / MOSAICOS / workspace-c3</b>
    </p>

  </div>
</article>
