<article class="page">
  <div class="page__container">
    <h1 class="page__title">2º Seminário Anual MapBiomas</h1>
    <h2><small>As Transformações do Território Brasileiro no Século XXI</small></h2>

    <p>
      <strong>Data:</strong><br>
      28.04.2017<br>
      08:30 as 17hs
    </p>
    <p>
      <strong>Local:</strong><br>
      Instituto Israel Pinheiro<br>
      SHDB QL 31 – Conjunto 1 – Bloco A <br>
      Brasília - DF
    </p>

    <p>
      <strong>Objetivo:</strong><br>
      Apresentar à comunidade técnica/científica e aos formuladores de políticas públicas os resultados, os métodos e as ferramentas do MapBiomas e debater como as aplicações de séries temporais de mapas de uso do solo contribuem para o entendimento das transformações do território e seus impactos econômicos, sociais e ambientais.</p>

    <p>
      <strong>Participantes:</strong><br>
      150 convidados do setor público, academia, ONGs, iniciativa privada e agências de fomento.</p>

    <p><br><center><a class="button primary" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfIVYrgzp1LI09ofscgv6x-9SFP0LZ2MKFBUY0QANfp51UPsQ/viewform?c=0&w=1">
        Vagas limitadas. Inscreva-se aqui
      </a></center>
    </p>

    <h2 class="page__title">Agenda</h2>
    <table class="table">
      <thead>
        <tr>
          <th width="10%">Horário</th>
          <th>Atividade</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">8:30</td>
        <td><strong>Registro e Boas Vindas</strong></td>
      </tr>
      <tr>
        <td class="text-center">9:00</td>
        <td> <strong>Abertura</strong>
          <ul>
            <li><strong>José Sarney Filho</strong> - Ministro Meio Ambiente (tbc)</li>
            <li><strong>Gilberto Kassab</strong> - Ministro de Ciência, Tecnologia, Inovação e Comunicação (tbc)</li>
            <li><strong>Alfredo Sirkis</strong> – Secretário-executivo do Fórum Brasileiro de Mudanças Climáticas</li>
            <li><strong>Senador Jorge Viana</strong> – Presidente da Comissão Mista de Mudanças Climáticas do Congresso Nacional </li>
            <li><strong>André Ferretti</strong> - Coordenador do Observatório do Clima</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center">9:30</td>
        <td><strong>Apresentação da 2º Coleção de Mapas de Cobertura e Uso do Solo do Brasil (2000-2016)</strong>
      </td>
      <tr>
        <td class="text-center">10:15</td>
        <td><strong>Café com informação</strong><br>
          Parceiros do projeto farão demonstração das ferramentas e produtos do MapBiomas durante o café.</td>
      </tr>
      <tr>
        <td class="text-center">11:00</td>
        <td>Painel 1: Resultados e Aplicações potenciais para Entender as Transformações no Território Brasileiro no Século XXI
          <ul>
            <li>Amazônia</li>
            <li>Caatinga</li>
            <li>Cerrado</li>
            <li>Pampa</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center">12:30</td>
        <td><strong>Almoço</strong></td>
      </tr>
      <tr>
        <td class="text-center">14:00</td>
        <td><strong>Painel 2: Resultados e Aplicações potenciais para Entender as Transformações no Território Brasileiro no Século XXI (cont.)</strong>
          <ul>
            <li>Mata Atlântica e Pantanal</li>
            <li>Zona Costeira</li>
            <li>Agricultura</li>
            <li>Pecuária</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center">15:30</td>
        <td><strong>Café com Informação</strong><br>
          Parceiros do projeto farão demonstração das ferramentas e produtos do MapBiomas durante o café.</td>
      </tr>
      <tr>
        <td class="text-center">16:00</td>
        <td>Painel 3: Demandas e oportunidades para o entendimento da dinâmica de cobertura e uso do solo no Brasil
        <ul>
          <li><strong>Marcelo Furtado</strong> - Coalizão Clima Floresta e Agricultura</li>
          <li><strong>Gerd Sparoveck</strong> – Esalq-USP/Atlas da Agropecuária</li>
          <li><strong>Marcus Vinicius da Silva Alves</strong> – Serviço Florestal Brasileiro</li>
          <li><strong>Cícero Augusto</strong> – Instituto SocioAmbiental</li>
          <li><strong>Leandro Baumgarten</strong> – TNC/Projeto CFA</li>
          <li><strong>Márcio Rojas</strong> – Inventário Nacional de Emissões e Remoções de GEE</li>
          <li><strong>Valdemar Rodrigues</strong> - Combate à Desertificação/MMA</li>
        </ul>
      </tr>
      <tr>
        <td class="text-center">17:00</td>
        <td><strong>Encerramento</strong>
      </tr>
      </tbody>
    </table>
  </div>
</article>
