<article class="page">
  <div class="page__container">
    <h1 class="page__title">EQUIPES ENVOLVIDAS</h1>
    
    <h2 class="page__team--title">Equipe Cerrado</h2>
    <div class= "row">
      <div class="col-3 page__team--item">
        <figure class="page__team--personal">
          <div class="page__team--image"
            style="">
          </div>
          <figcaption class="page__team--name">Ane Alencar <small>(Coordenadora Bioma Cerrado)</small></figcaption>
        </figure>
      </div>
      <div class="col-3 page__team--item">
        <figure class="page__team--personal">
          <div class="page__team--image"
            style="">
          </div>
          <figcaption class="page__team--name">Isa Alencar</figcaption>
        </figure>
      </div>
      <div class="col-3 page__team--item">
        <figure class="page__team--personal">
          <div class="page__team--image"
            style="">
          </div>
          <figcaption class="page__team--name">Vera Arruda</figcaption>
        </figure>
      </div>
      <div class="col-3 page__team--item">
        <figure class="page__team--personal">
          <div class="page__team--image"
            style="">
          </div>
          <figcaption class="page__team--name">Derli Piontekowski</figcaption>
        </figure>
      </div>
      <div class="col-3 page__team--item">
        <figure class="page__team--personal">
          <div class="page__team--image"
            style="">
          </div>
          <figcaption class="page__team--name">Marina Cangiano</figcaption>
        </figure>
      </div>
      <div class="col-3 page__team--item">
        <figure class="page__team--personal">
          <div class="page__team--image"
            style="">
          </div>
          <figcaption class="page__team--name">Isabel Castro</figcaption>
        </figure>
      </div>
      <div class="col-3 page__team--item">
        <figure class="page__team--personal">
          <div class="page__team--image"
            style="">
          </div>
          <figcaption class="page__team--name">Camila Balzani</figcaption>
        </figure>
      </div>
      <div class="col-3 page__team--item">
        <figure class="page__team--personal">
          <div class="page__team--image"
            style="">
          </div>
          <figcaption class="page__team--name">Julia Shimbo</figcaption>
        </figure>
      </div>
    </div>

    <h2 class="page__team--title">Equipe Amazônia</h2>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Carlos%20Souza%20Jr..png');">
            </div>
            <figcaption class="page__team--name">Carlos Souza Jr.</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Rodney%20Saloma%CC%83o.JPG');">
            </div>
            <figcaption class="page__team--name">Rodney Salomão</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Julia%20Ribeiro.JPG');">
            </div>
            <figcaption class="page__team--name">Julia Ribeiro</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Joa%CC%83o%20Victor%20Siqueira.JPG');">
            </div>
            <figcaption class="page__team--name">João Victor Siqueira</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Anto%CC%82nio%20Victor%20Fonseca.JPG');">
            </div>
            <figcaption class="page__team--name">Antonio Fonseca</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Dalton%20Cardoso.jpg');">
            </div>
            <figcaption class="page__team--name">Dalton Cardoso</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Marcelo%20Justino.jpg');">
            </div>
            <figcaption class="page__team--name">Marcelo Justino</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="page__team--title">Equipe Mata Atlântica e Pantanal</h2>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Marcos Rosa <small>(Coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Jaqueline Freitas</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Viviane Mazin</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Eduardo Reis Rosa</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Fernando Frizeira Paternost</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="page__team--title">Equipe Pampa</h2>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Henrich Hasenack <small>(Coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Eduardo Velez</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Eliseu Werber</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="page__team--title">Equipe Caatinga</h2>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Washington França <small>(Coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Juvenal.jpg');">
            </div>
            <figcaption class="page__team--name">Juvenal</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Deórgia</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/barros.jpg');">
            </div>
            <figcaption class="page__team--name">Barros</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Cynthia.jpg');">
            </div>
            <figcaption class="page__team--name">Cynthia</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/SOLTAN.jpg');">
            </div>
            <figcaption class="page__team--name">Soltan</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Sarah.jpg');">
            </div>
            <figcaption class="page__team--name">Sarah</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Jocimara</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/willian.jpg');">
            </div>
            <figcaption class="page__team--name">Willian</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/JoseLuiz.JPG');">
            </div>
            <figcaption class="page__team--name">José Luiz</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Danusa.jpg');">
            </div>
            <figcaption class="page__team--name">Danusa</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Sayli%20Tur.jpg');">
            </div>
            <figcaption class="page__team--name">Sayli</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Marjorie.jpg');">
            </div>
            <figcaption class="page__team--name">Marjorie</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Luciel.jpg');">
            </div>
            <figcaption class="page__team--name">Luciel</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Marcus%20(1).jpg');">
            </div>
            <figcaption class="page__team--name">Marcus</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Joselisa.jpg');">
            </div>
            <figcaption class="page__team--name">Joselisa</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Alejandro.jpg');">
            </div>
            <figcaption class="page__team--name">Alejandro</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Rodrigo.jpg');">
            </div>
            <figcaption class="page__team--name">Rodrigo</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Frans.JPG');">
            </div>
            <figcaption class="page__team--name">Frans</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="page__team--title">Equipe Zona Costeira</h2>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Pedro Walfir <small>(coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Wilson da Rocha Nascimento Jr</figcaption>
          </figure>
        </div>.
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Luis Augusto Oliveira</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="page__team--title">Agricultura e Pastagem</h2>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Laerte Ferreira <small>(coordenador pastagem)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Agriculture/BernardoRudorff.jpg');">
            </div>
            <figcaption class="page__team--name">Bernardo Rudorff <small>(coordenador Agricultura)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Leandro Leal</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Manuel Ferreira</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Fernando Araujo</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Agriculture/MoisesSalgado.jpg');">
            </div>
            <figcaption class="page__team--name">Moisés Salgado</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="page__team--title">Equipe de Programadores e Desenvolvedores - Terras</h2>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Rafael Guerra <small>(Cood. Workspace)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">João Siqueira</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">João Manoel Soares</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Dyeden Monteiro</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Victor Lins</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="page__team--title">Equipe de Programadores e Desenvolvedores - EcoStage</h2>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Sergio Oliveira <small>(coordenação Dashboard)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Marcelo Piva</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Luiza Peixe</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Mateus Medeiros</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Kaio Max</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Karyd'ja Souza</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Phillipp Oliveira</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Paulo Favato</figcaption>
          </figure>
        </div>
      </div>

      <h3>Registro, Comunicação e Administração</h3>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Capobianco <small>(Coordenador Registro e Comunicação)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Daniela Ades <small>(Assessora de Comunicação)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Sandro <small>(Documentarista)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Mariana Oliveira <small>(Gestão do Projeto)</small></figcaption>
          </figure>
        </div>
      </div>

      <h2 class="page__team--title">Parceiros Google</h2>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">David Thau</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Rebecca Moore</figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Juliana Dib Resende</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="page__team--title">Coordenação</h2>
      <div class="row">
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Tasso Azevedo <small>(Coordenação Geral)</small></figcaption>
          </figure>
        </div>
        <div class="col-3 page__team--item">
          <figure class="page__team--personal">
            <div class="page__team--image"
              style="">
            </div>
            <figcaption class="page__team--name">Carlos Souza <small>(Coordenação Técnico-Científica)</small></figcaption>
          </figure>
        </div>
      </div>

  </div>
</article>
