<article class="page">
  <div class="page__container">
    <h1 class="page__title">EQUIPES ENVOLVIDAS</h1>
    
    <h2 class="team__title">Equipe Cerrado</h2>
    <div class= "team__line">
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="">
          </div>
          <figcaption class="team__name">Ane Alencar <small class="team__small">(Coordenadora Bioma Cerrado)</small></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="">
          </div>
          <figcaption class="team__name">Isa Alencar</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="">
          </div>
          <figcaption class="team__name">Vera Arruda</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="">
          </div>
          <figcaption class="team__name">Derli Piontekowski</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="">
          </div>
          <figcaption class="team__name">Marina Cangiano</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="">
          </div>
          <figcaption class="team__name">Isabel Castro</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="">
          </div>
          <figcaption class="team__name">Camila Balzani</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="">
          </div>
          <figcaption class="team__name">Julia Shimbo</figcaption>
        </figure>
      </div>
    </div>

    <h2 class="team__title">Equipe Amazônia</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Carlos%20Souza%20Jr..png');">
            </div>
            <figcaption class="team__name">Carlos Souza Jr.</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Rodney%20Saloma%CC%83o.JPG');">
            </div>
            <figcaption class="team__name">Rodney Salomão</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Julia%20Ribeiro.JPG');">
            </div>
            <figcaption class="team__name">Julia Ribeiro</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Joa%CC%83o%20Victor%20Siqueira.JPG');">
            </div>
            <figcaption class="team__name">João Victor Siqueira</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Anto%CC%82nio%20Victor%20Fonseca.JPG');">
            </div>
            <figcaption class="team__name">Antonio Fonseca</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Dalton%20Cardoso.jpg');">
            </div>
            <figcaption class="team__name">Dalton Cardoso</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Amazonia/Marcelo%20Justino.jpg');">
            </div>
            <figcaption class="team__name">Marcelo Justino</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe Mata Atlântica e Pantanal</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Marcos Rosa <small class="team__small">(Coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Jaqueline Freitas</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Viviane Mazin</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Eduardo Reis Rosa</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Fernando Frizeira Paternost</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe Pampa</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Henrich Hasenack <small class="team__small">(Coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Eduardo Velez</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Eliseu Werber</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe Caatinga</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Washington França <small class="team__small">(Coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Juvenal.jpg');">
            </div>
            <figcaption class="team__name">Juvenal</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Deórgia</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/barros.jpg');">
            </div>
            <figcaption class="team__name">Barros</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Cynthia.jpg');">
            </div>
            <figcaption class="team__name">Cynthia</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/SOLTAN.jpg');">
            </div>
            <figcaption class="team__name">Soltan</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Sarah.jpg');">
            </div>
            <figcaption class="team__name">Sarah</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Jocimara</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/willian.jpg');">
            </div>
            <figcaption class="team__name">Willian</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/JoseLuiz.JPG');">
            </div>
            <figcaption class="team__name">José Luiz</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Danusa.jpg');">
            </div>
            <figcaption class="team__name">Danusa</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Sayli%20Tur.jpg');">
            </div>
            <figcaption class="team__name">Sayli</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Marjorie.jpg');">
            </div>
            <figcaption class="team__name">Marjorie</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Luciel.jpg');">
            </div>
            <figcaption class="team__name">Luciel</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Marcus%20(1).jpg');">
            </div>
            <figcaption class="team__name">Marcus</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Joselisa.jpg');">
            </div>
            <figcaption class="team__name">Joselisa</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Alejandro.jpg');">
            </div>
            <figcaption class="team__name">Alejandro</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Rodrigo.jpg');">
            </div>
            <figcaption class="team__name">Rodrigo</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Caatinga/Frans.JPG');">
            </div>
            <figcaption class="team__name">Frans</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe Zona Costeira</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Pedro Walfir <small class="team__small">(coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Wilson da Rocha Nascimento Jr</figcaption>
          </figure>
        </div>.
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Luis Augusto Oliveira</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Agricultura e Pastagem</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Laerte Ferreira <small class="team__small">(coordenador pastagem)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Agriculture/BernardoRudorff.jpg');">
            </div>
            <figcaption class="team__name">Bernardo Rudorff <small class="team__small">(coordenador Agricultura)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Leandro Leal</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Manuel Ferreira</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Fernando Araujo</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/Agriculture/MoisesSalgado.jpg');">
            </div>
            <figcaption class="team__name">Moisés Salgado</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe de Programadores e Desenvolvedores - Terras</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Rafael Guerra <small class="team__small">(Cood. Workspace)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">João Siqueira</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">João Manoel Soares</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Dyeden Monteiro</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Victor Lins</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe de Programadores e Desenvolvedores - EcoStage</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Sergio Oliveira <small class="team__small">(coordenação Dashboard)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Marcelo Piva</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Luiza Peixe</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Mateus Medeiros</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Kaio Max</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Karyd'ja Souza</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Phillipp Oliveira</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Paulo Favato</figcaption>
          </figure>
        </div>
      </div>

      <h3>Registro, Comunicação e Administração</h3>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Capobianco <small class="team__small">(Coordenador Registro e Comunicação)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Daniela Ades <small class="team__small">(Assessora de Comunicação)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Sandro <small class="team__small">(Documentarista)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Mariana Oliveira <small class="team__small">(Gestão do Projeto)</small></figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Parceiros Google</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">David Thau</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Rebecca Moore</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Juliana Dib Resende</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Coordenação</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Tasso Azevedo <small class="team__small">(Coordenação Geral)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="">
            </div>
            <figcaption class="team__name">Carlos Souza <small class="team__small">(Coordenação Técnico-Científica)</small></figcaption>
          </figure>
        </div>
      </div>

  </div>
</article>
