<article class="page">
  <div class="page__container">
    <h1 class="page__title">EQUIPES ENVOLVIDAS</h1>
    
    <h2 class="team__title">Equipe Cerrado</h2>
    <div class= "team__line">
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/ane-alencar.png');">
          </div>
          <figcaption class="team__name">Ane Alencar <small class="team__small">(Coordenadora Bioma Cerrado)</small></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/isa-alencar.png');">
          </div>
          <figcaption class="team__name">Isa Alencar</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/vera-arruda.png');">
          </div>
          <figcaption class="team__name">Vera Arruda</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/derli-piontekowski.png');">
          </div>
          <figcaption class="team__name">Derli Piontekowski</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/marina-cangiano.png');">
          </div>
          <figcaption class="team__name">Marina Cangiano</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/isabel-castro.png');">
          </div>
          <figcaption class="team__name">Isabel Castro</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/camila-balzani.png');">
          </div>
          <figcaption class="team__name">Camila Balzani</figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/julia-shimbo.png');">
          </div>
          <figcaption class="team__name">Julia Shimbo</figcaption>
        </figure>
      </div>
    </div>

    <h2 class="team__title">Equipe Amazônia</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/carlos-souza-jr.png');">
            </div>
            <figcaption class="team__name">Carlos Souza Jr.</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/rodney-salomao.png');">
            </div>
            <figcaption class="team__name">Rodney Salomão</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/julia-ribeiro.png');">
            </div>
            <figcaption class="team__name">Julia Ribeiro</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/joao-victor-siqueira.png');">
            </div>
            <figcaption class="team__name">João Victor Siqueira</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/antonio-fonseca.png');">
            </div>
            <figcaption class="team__name">Antonio Fonseca</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/dalton-cardoso.png');">
            </div>
            <figcaption class="team__name">Dalton Cardoso</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/marcelo-justino.png');">
            </div>
            <figcaption class="team__name">Marcelo Justino</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe Mata Atlântica e Pantanal</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pantanal/marcos-rosa.png');">
            </div>
            <figcaption class="team__name">Marcos Rosa <small class="team__small">(Coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pantanal/jaqueline-freitas.png');">
            </div>
            <figcaption class="team__name">Jaqueline Freitas</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pantanal/viviane-mazin.png');">
            </div>
            <figcaption class="team__name">Viviane Mazin</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pantanal/eduardo-reis-rosa.png');">
            </div>
            <figcaption class="team__name">Eduardo Reis Rosa</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pantanal/fernando-frizeira-paternost.png');">
            </div>
            <figcaption class="team__name">Fernando Frizeira Paternost</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe Pampa</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/henrich-hasenack.png');">
            </div>
            <figcaption class="team__name">Henrich Hasenack <small class="team__small">(Coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/eduardo-velez.png');">
            </div>
            <figcaption class="team__name">Eduardo Velez</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/eliseu-werber.png');">
            </div>
            <figcaption class="team__name">Eliseu Werber</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe Caatinga</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/washington-franca.png');">
            </div>
            <figcaption class="team__name">Washington França <small class="team__small">(Coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/juvenal.png');">
            </div>
            <figcaption class="team__name">Juvenal</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/Deorgia.png');">
            </div>
            <figcaption class="team__name">Deórgia</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/barros.png');">
            </div>
            <figcaption class="team__name">Barros</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/cynthia.png');">
            </div>
            <figcaption class="team__name">Cynthia</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/soltan.png');">
            </div>
            <figcaption class="team__name">Soltan</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/sarah.png');">
            </div>
            <figcaption class="team__name">Sarah</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/jocimara.png');">
            </div>
            <figcaption class="team__name">Jocimara</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/willian.png');">
            </div>
            <figcaption class="team__name">Willian</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/jose-luiz.png');">
            </div>
            <figcaption class="team__name">José Luiz</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/danusa.png');">
            </div>
            <figcaption class="team__name">Danusa</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/sayli.png');">
            </div>
            <figcaption class="team__name">Sayli</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/marjorie.png');">
            </div>
            <figcaption class="team__name">Marjorie</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/luciel.png');">
            </div>
            <figcaption class="team__name">Luciel</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/marcus.png');">
            </div>
            <figcaption class="team__name">Marcus</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/joselita.png');">
            </div>
            <figcaption class="team__name">Joselita</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/alejandro.png');">
            </div>
            <figcaption class="team__name">Alejandro</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/rodrigo.png');">
            </div>
            <figcaption class="team__name">Rodrigo</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/frans.png');">
            </div>
            <figcaption class="team__name">Frans</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe Zona Costeira</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/costeira/pedro-walfir.png');">
            </div>
            <figcaption class="team__name">Pedro Walfir <small class="team__small">(coordenador)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/costeira/wilson-da-rocha-nascimento-jr.png');">
            </div>
            <figcaption class="team__name">Wilson da Rocha Nascimento Jr</figcaption>
          </figure>
        </div>.
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/costeira/luis-augusto-oliveira.png');">
            </div>
            <figcaption class="team__name">Luis Augusto Oliveira</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Pastagem</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/laerte-ferreira.png');">
            </div>
            <figcaption class="team__name">Laerte Ferreira <small class="team__small">(coordenador pastagem)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/manuel-ferreira.png');">
            </div>
            <figcaption class="team__name">Manuel Ferreira</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/leandro-leal.png');">
            </div>
            <figcaption class="team__name">Leandro Leal</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/fernando-araujo.png');">
            </div>
            <figcaption class="team__name">Fernando Araujo</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Agricultura</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/bernardo-rudorff.png');">
            </div>
            <figcaption class="team__name">Bernardo Rudorff <small class="team__small">(coordenador Agricultura)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/moises-salgado.png');">
            </div>
            <figcaption class="team__name">Moisés Salgado</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/joel-risso.png');">
            </div>
            <figcaption class="team__name">Joel Risso</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/daniel-aguiar.png');">
            </div>
            <figcaption class="team__name">Daniel Aguiar</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/fabio-goncalves.png');">
            </div>
            <figcaption class="team__name">Fábio Gonçalves</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe de Desenvolvedores - Terras</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/rafael-guerra.png');">
            </div>
            <figcaption class="team__name">Rafael Guerra <small class="team__small">(Cood. Workspace)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/joao-siqueira.png');">
            </div>
            <figcaption class="team__name">João Siqueira</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/joao-manoel-soares.png');">
            </div>
            <figcaption class="team__name">João Manoel Soares</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/dyeden-monteiro.png');">
            </div>
            <figcaption class="team__name">Dyeden Monteiro</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/victor-lins.png');">
            </div>
            <figcaption class="team__name">Victor Lins</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Equipe de Desenvolvedores - EcoStage</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/sergio-oliveira.png');">
            </div>
            <figcaption class="team__name">Sergio Oliveira <small class="team__small">(Cood. Dashboard)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/marcelo-piva.png');">
            </div>
            <figcaption class="team__name">Marcelo Piva</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/luiza-peixe.png');">
            </div>
            <figcaption class="team__name">Luiza Peixe <small class="team__small">(Designer)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/mateus-medeiros.png');">
            </div>
            <figcaption class="team__name">Mateus Medeiros</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/kaio-max.png');">
            </div>
            <figcaption class="team__name">Kaio Max</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/karydja-souza.png');">
            </div>
            <figcaption class="team__name">Karyd'ja Souza</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/phillipp-oliveira.png');">
            </div>
            <figcaption class="team__name">Phillipp Oliveira</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/paulo-favato.png');">
            </div>
            <figcaption class="team__name">Paulo Favato</figcaption>
          </figure>
        </div>
      </div>

      <h3>Registro, Comunicação e Administração</h3>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/capobianco.png');">
            </div>
            <figcaption class="team__name">Capobianco <small class="team__small">(Coordenador Registro e Comunicação)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/daniela-ades.png');">
            </div>
            <figcaption class="team__name">Daniela Ades <small class="team__small">(Assessora de Comunicação)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/sandro.png');">
            </div>
            <figcaption class="team__name">Sandro <small class="team__small">(Documentarista)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/mariana-oliveira.png');">
            </div>
            <figcaption class="team__name">Mariana Oliveira <small class="team__small">(Gestão do Projeto)</small></figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Parceiros Google</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/google/david-thau.png');">
            </div>
            <figcaption class="team__name">David Thau</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/google/rebecca-moore.png');">
            </div>
            <figcaption class="team__name">Rebecca Moore</figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/google/chris-herwig.png');">
            </div>
            <figcaption class="team__name">Chris Herwig</figcaption>
          </figure>
        </div>        
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/google/juliana-dib-resende.png');">
            </div>
            <figcaption class="team__name">Juliana Dib Resende</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="team__title">Coordenação</h2>
      <div class="team__line">
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/coordenacao/tasso.png');">
            </div>
            <figcaption class="team__name">Tasso Azevedo <small class="team__small">(Coordenação Geral)</small></figcaption>
          </figure>
        </div>
        <div class="team__item">
          <figure class="team__personal">
            <div class="team__image"
              style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/carlos-souza-jr.png');">
            </div>
            <figcaption class="team__name">Carlos Souza <small class="team__small">(Coordenação Técnico-Científica)</small></figcaption>
          </figure>
        </div>
      </div>

  </div>
</article>
