<article class="page">
  <div class="page__container">
    <h1 class="page__title">TERMOS DE USO DOS DADOS DO MAPBIOMAS</h1>

    <p>Os dados do MapBiomas são públicos, abertos e gratuitos mediante ao simples referência da fonte observando o seguinte formato:</p>

    <blockquote>
      <p>"Projeto MapBiomas – Coleção <strong>[versão]</strong> da Série Anual de Mapas de Cobertura e Uso de Solo do Brasil, acessado em <strong>[data]</strong> através do link: <strong>[LINK]</strong>"</p>

      <p>"Projeto MapBiomas - é uma iniciativa multi-institucional para gerar mapas anuais de cobertura e uso do solo a partir de processos de classificação automática aplicada a imagens de satélite. A descrição completa do projeto encontra-se em http://mapbiomas.org"</p>
    </blockquote>
  </div>
</article>
