<article class="page">
  <div class="page__container">
    <h1 class="page__title">TERMS OF USE OF MAPBIOMAS DATA</h1>

    <p>The MapBiomas data are public, open and free through the simple reference of the source observing the following format:</p>

    <blockquote>
      <p>"Project MapBiomas - Collection <strong>[version]</strong> of Brazilian Land Cover & Use Map Series, accessed on <strong>[date]</strong> through the link: <strong>[LINK]</strong>"</p> 

      <p>"MapBiomas Project - is a multi-institutional initiative to generate annual land cover and use maps using automatic classification processes applied to satellite images. The complete description of the project can be found at http://mapbiomas.org"</p>
    </blockquote>
  </div>
</article>
