<article class="page">
  <div class="page__container">
    <h1 class="page__title">Project Video</h1>
    <iframe height="410" class="responsive-iframe" src="https://www.youtube.com/embed/AAEbeMQlJc4" frameborder="0" allowfullscreen></iframe>
  </div>
</article>
