<article class="page">
  <div class="page__container">
    <h1 class="page__title">Mudanças de uso da terra</h1>

    <p>O MapBiomas Workspace é o ambiente de trabalho da plataforma. É através dela que a equipe do MapBiomas acessar todo o potencial das ferramentas do Earth Engine sem a necessidade de entrar em linhas de código de programação.</p>

    <p>Os desenvolvedores e programadores criaram um aplicativo que organiza o fluxo de trabalho e permite cada analista e membro da equipe consiga operar em paralelo, na mesma plataforma e com total controle de todas as variáveis importantes para gerar o melhor mosaico de imagens e a melhor classificação para cada carta ou região de trabalho.</p>

    <p>O Workspace será aberto para colaboradores de outras instituições participarem do MapBiomas ou mesmo desenvolver outros projetos. Esta modalidade será implementada ao longo de 2016. Interessados já podem contudo experimentar a plataforma em caracter de visitante.</p>

    <p>Para acessar o MapBiomas Workspace o usuário deve ter uma conta GMAIL e deve se cadastrar na Plataforma Google Earth Engine através do link:
    <a href="https://earthengine.google.com">https://earthengine.google.com</a></p>

    <p>Uma vez cadastrado no Google Earth Engine solicite o acesso ao MapBiomas Workspace através do email:
    <a href="mailto:contato@mapbiomas.org">contato@mapbiomas.org</a></p>

    <p>Se você já esta cadastrado no Workspace acesse a plataforma aqui:
    <a href="http://workspace.mapbiomas.org">http://workspace.mapbiomas.org</a></p>
  </div>
</article>
