<article class="page">
  <div class="page__container">
    <h1 class="page__title">Workspace</h1>

    <p>O MapBiomas Workspace é o ambiente de trabalho da plataforma. É através dela que a equipe de biomas do MapBiomas acessa as ferramentas do Earth Engine, sem a necessidade de entrar em linhas de código de programação.</p>

    <p>Os desenvolvedores e programadores criaram um aplicativo que organiza o fluxo de trabalho e permite que cada analista e membro da equipe consiga operar em paralelo, na mesma plataforma e com total controle de todas as variáveis importantes para gerar o melhor mosaico de imagens e a melhor classificação para cada carta ou região de trabalho.</p>

    <p>O Workspace será aberto para colaboradores de outras instituições participarem do MapBiomas ou mesmo desenvolver outros projetos.</p>

    <p>Para visitar a plantaforma do workspace acesse aqui:
    <%= link_to 'http://workspace.mapbiomas.org', "http://workspace.mapbiomas.org", {target: "_blank"} %></p>

    <p><br><%= image_tag "workspace.jpg" %></p>

    <h2 class="page__title">WEB COLLECT</h2>

    <p>O WebCollect é uma ferramenta web projetada para facilitar a coleta de dados e amostras para treinamento dos algoritmos de classificação bem como amostras para avaliação de acurácia das coleções do MapBiomas.</p>

    <p>O WebCollect pode ser visualizada aqui:
    <%= link_to 'http://webcollect.mapbiomas.org', "http://webcollect.mapbiomas.org", {target: "_blank"} %></p>

    <p><br><%= image_tag "webcollect.png" %></p>

  </div>
</article>
