<article class="page">
  <div class="page__container">
    <h1 class="page__title">Workspace</h1>

    <p>MapBiomas Workspace is the platform's working environment. It is through it that MapBiomas biome team accesses Earth Engine tools without the need to enter programming lines of code.</p>

    <p>Our developers and programmers have created an application that organizes the workflow and allows each analyst and team member to be able to operate in parallel on the same platform and with full control of all important variables to generate the best mosaic of images and the best classification for each chart or region of work.</p>

    <p>The Workspace will be open to collaborators from other institutions participating in MapBiomas or even developing other projects. This modality will be implemented throughout 2016. Interested users, however, may already try the platform as visitors and process data, although without saving any parameter change.</p>

    <p>To visit the workspace platform go here:
    <%= link_to 'http://workspace.mapbiomas.org', "http://workspace.mapbiomas.org", {target: "_blank"} %></p>

    <p><br><%= image_tag "workspace.jpg" %></p>

    <h2 class="page__title">WEB COLLECT</h2>

    <p>One of the strategies to carry out an accuracy analysis of MapBiomas maps is to collect samples within visual analysis over high-resolution images. There will be about 20 thousand sampling points, each with nine samples replicated by three different analysts.</p>

    <p>To manage the collection of samples, we joined the Collect Earth program developed by FAO to carry out forest inventory samples.</p>

    <p>The Collect Earth program is originally prepared to operate in desktop format. To adapt to MapBiomas networking characteristics, the Web Collect application is being developed. This tool will allow multiple analysts to work in parallel with the sampling projects of each biome.</p>

    <p>The Beta version of Web Collect can be viewed here:
    <%= link_to 'http://webcollect.mapbiomas.org', "http://webcollect.mapbiomas.org", {target: "_blank"} %></p>

    <p><br><%= image_tag "webcollect.png" %></p>

  </div>
</article>
