<article class="page">
  <div class="page__container">
    <h1 class="page__title">Workspace</h1>

    <p>MapBiomas’ Workspace is a working environment platform,  which enables the team to fully access, in an user-friendly manner, the potential of Google Earth Engine tools (i.e. without the need of writing coding lines or scripts). </p>

    <p>Developers and programmers have created an application that organizes the workflow and allows each analyst and member of the team to operate in parallel on the same platform and with full control of all important variables to generate the best image mosaics and the best classification for each cartographic tile  or region of interest.</p>

    <p>The Workspace will be fully accessible and open to researchers and analysts of other institutions participating in MapBiomas,  even for the development of other projects. This level of interactivity and accessability will be implemented along the year of 2016. Interested parties have yet to experience the platform in guest mode.</p>

    <p>To access MapBiomas Workspace, the user must have a GMAIL account and must register at Google Earth Engine platform through this link
    <a href="https://earthengine.google.com">https://earthengine.google.com</a></p>

    <p>Once registered, the user should request access to the MapBiomas Workspace filling the following form:
    <a href="http://goo.gl/forms/k2J0IAFlmy">http://goo.gl/forms/k2J0IAFlmy</a></p>

    <p>If you are already registered in the Workspace please access the platform here:
    <a href="http://workspace.mapbiomas.org">http://workspace.mapbiomas.org</a></p>
  </div>
</article>
