<article class="page">
  <div class="page__container">
    <h1 class="page__title">Workspace</h1>

    <p>MapBiomas Workspace is the platform's working environment. It is through it that MapBiomas biome team accesses Earth Engine tools without the need to enter programming lines of code.</p>

    <p>Our developers and programmers have created an application that organizes the workflow and allows each analyst and team member to be able to operate in parallel on the same platform and with full control of all important variables to generate the best mosaic of images and the best classification for each chart or region of work.</p>

    <p>The Workspace will be open to collaborators from other institutions participating in MapBiomas or even developing other projects.</p>

    <p>To visit the workspace platform go here:
    <%= link_to 'http://workspace.mapbiomas.org', "http://workspace.mapbiomas.org", {target: "_blank"} %></p>

    <p><br><%= image_tag "workspace.jpg" %></p>

    <h2 class="page__title">WEB COLLECT</h2>

    <p>WebCollect is a web tool designed to facilitate the collection of data and samples for training the classification algorithms as well as samples for the evaluation of accuracy of the MapBiomas collections.</p>

    <p>WebCollect can be viewed here:
    <%= link_to 'http://webcollect.mapbiomas.org', "http://webcollect.mapbiomas.org", {target: "_blank"} %></p>

    <p><br><%= image_tag "webcollect.png" %></p>

  </div>
</article>
