.classifications-control {
  &__select {
    display: flex;
    align-items: center;

    input {
      margin-left: 0;
    }
  }

  &__children-tree {
    padding-left: 20px;
  }

  &__node {
    padding: $micro-spacing 0px;
    display: flex;
    align-items: center;
  }

  &__node-icon {
    margin-right: $small-spacing;
    font-size: 22px;
    cursor: pointer;
  }

  &__inner {
    padding-right: 12px;
    margin-top: $small-spacing;
  }
}
