.pointer {
  cursor: pointer;
}

.content {
  &:nth-child(1) {
    display: block;
  }
  &:nth-child(2) {
    display: block;
  }
  padding: 0 10px;
  display: none;
  overflow: hidden;
  height: auto;
}
