.wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: table;
  position: absolute;
}

.outer-container {
  @include outer-container;
  @media (max-width: 1200px) {
    padding: 0 15px;
  }
}

.warning {
  color: $red;
}

.responsive-iframe {
  width: 100% !important;
  margin-bottom: $medium-spacing;
}
