.credentials {
  &__background {
    display: flex;
    flex-direction: column;
    background-color: $medium-gray;
    background-image: image_url("bg-login.jpg");
    background-size: cover;
    position: relative;
  }

  &__wrapper {
    margin: auto;
    width: rem(380px);
    opacity: 0.95;

    @include media ($mobile) {
      width: auto;
    }

    .form-actions {
      width: 100%;
      padding-top: $base-spacing;

      input {
        width: 100%;
      }
    }
  }


  &__content, &__links {
    padding: $medium-spacing;
  }

  &__content {
    background-color: $white;
    box-shadow: $base-box-shadow;
  }

  &__links {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.links__item {
  padding-right: $small-spacing;
  margin-right: $small-spacing;
  border-right: 1px solid $white;

  a {
    color: $white;
    font-size: $big-font-size;
    font-weight: 600;
    text-shadow: 1px 1px 1px $dark-gray;
  }

  &:last-child {
    padding-right: 0;
    margin-right: 0;
    border: 0;
  }
}

span.hint { display: none;}

.flashes {
  position: absolute;
  right: $micro-spacing;
  top: $large-spacing;
  min-width: 200px;
  z-index: $base-z-index;

  [class*="flash-"] {
    border-radius: $base-border-radius;
  }
}

.image-copy {
  position: fixed;
  left: 0;
  bottom: 0;
  color: $white;
  padding: 0 $micro-spacing;
  background-color: rgba($dark-gray, 0.5);
}
