.credentials {
  &__background {
    background-color: $medium-gray;
    background-image: image_url("bg-login.jpg");
    background-size: cover;
    position: relative;
  }

  &__content {
    position: absolute;
    top: rem(100px);
    left: 50%;
    width: rem(380px);
    height: auto;
    margin-left: rem(-160px);
    padding: 24px;
    background-color: $white;
    opacity: 0.95;
    box-shadow: $base-box-shadow;

    .user_remember_me {
      float: left;

      label {
        display: flex;
        align-items: center;
      }

      input {
        margin-right: $small-spacing;
      }
    }

    .form-actions {
      float: right;
      width: 100%;
      margin-top: 0;

      input {
        width: 100%;
      }
    }
  }

  &__links {
    position: absolute;
    left: 0;
    bottom: -$base-spacing * 3;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: $base-spacing;
  }
}

.links__items {
  padding-right: $micro-spacing;
  margin-right: $micro-spacing;
  border-right: 1px solid $white;

  a {
    color: $white;
    // font-size: $big-font-size;
    font-weight: 600;
    text-shadow: 1px 1px 1px $dark-gray;
  }

  &:last-child {
    padding-right: 0;
    margin-right: 0;
    border: 0;
  }
}

span.hint { display: none;}

.flashes {
  position: absolute;
  right: $micro-spacing;
  top: $large-spacing;
  min-width: 200px;
  z-index: $base-z-index;

  [class*="flash-"] {
    border-radius: $base-border-radius;
  }
}

.image-copy {
  position: fixed;
  left: 0;
  bottom: 0;
  color: $white;
  padding: 0 $micro-spacing;
  background-color: rgba($dark-gray, 0.5);
}
