.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $small-spacing $base-spacing;
  background-color: $footer-color;

  @include media($mobile) {
    flex-wrap: wrap;
  }

  &__partners {
    display: flex;

    @include media($mobile) {
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__seeg {
    padding-right: $base-spacing;
  }

  &__copyright {
    color: $light-gray;
    white-space: nowrap;
    font-size: 0.6rem;
    width: 200px;
    padding: 0 $small-spacing;

    @include media($mobile) {
      font-size: 0.5rem;
      padding: $small-spacing 0;
    }
  }

  .ecostage-label,
  .gee-label,
  .seeg-label {
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    font-size: $small-font-size;
    vertical-align: middle;
    margin: 0 $small-spacing 0 0;

    @include media($mobile) {
      font-size: 0.5rem;
    }
  }

  &__image {
    height: 20px;
    vertical-align: middle;
    cursor: pointer;

    @include media($mobile) {
      height: 16px;
    }
  }
}
