.footer {
  background-color: $footer-color;
  @include clearfix;

  @include media($mobile) {
    height: 40px;
  }

  &__copyright {
    color: $light-gray;
    text-align: center;
    padding-top: $small-spacing;
    white-space: nowrap;
    font-size: 0.6rem;
    margin-top: 6px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 200px;

    @include media($mobile) {
      font-size: 0.5rem;
    }
  }

  &__seeg,
  &__gee {
    float: left;
  }

  &__ecostage {
    float: right;
  }

  &__gee,
  &__seeg,
  &__ecostage {
    padding: $small-spacing $base-spacing;
    cursor: pointer;

    @include media($mobile) {
      padding: 0 ($small-spacing / 2) 0 ($small-spacing / 2);
    }
  }

  .ecostage-label,
  .gee-label,
  .seeg-label {
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    font-size: $small-font-size;
    vertical-align: middle;
    margin: 0 $small-spacing 0 0;

    @include media($mobile) {
      font-size: 0.5rem;
    }
  }

  &__image {
    height: 20px;
    vertical-align: middle;

    @include media($mobile) {
      height: 16px;
    }
  }
}
