.form {
  margin-top: $medium-spacing;
}

.field {
  margin-bottom: $base-spacing;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.submit {
  float: right;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
