.header {
  background: $header-color;
  padding: $micro-spacing $base-spacing;
  border-bottom: 1px solid rgba($light-gray, .4);

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    a {
      display: flex;
    }

    img {
      height: 36px;
      margin: $micro-spacing 0;
    }

    &--version {
      position: relative;

      &:after {
        content: attr(version);
        color: rgba($medium-green, 0.5);
        position: absolute;
        top: 15px;
        left: 102%;
      }

      &:focus,
      &:hover {
        &:after {
          color: $medium-green;
        }
      }
    }
  }

  &__menu-trigger {
    display: none;

    @include media ($tablet) {
      display: block;
    }
  }
}
