html, body {
  height: 100%;
}

#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 1;
}

.home {
  &__video {
    height: 95vh;
    position: relative;
    margin-bottom: $large-spacing;
    background-color: rgba(black, 0.3);
    overflow: hidden;
    min-height: 600px;

    &-content {
      position: absolute;
      width: 100%;
      text-shadow: 0px 0px 10px rgba($black, 0.34);
      text-align: center;
      color: white;
      padding: 15vh 30vh;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 140%;
      opacity: 0.8;

      @media (max-width: 999px) {
        padding: 15vh 10vh;
      }

      @media (max-width: 630px) {
        padding: 8vh 5vh;
        font-size: 18px;
      }

      img {
        width: 300px;
        opacity: 0.7;
        margin-bottom: 30px;

        @media (max-width: 630px) {
          width: 200px;
        }
      }
    }
  }

  &__coating {
    padding: $large-spacing 0 0;

    &-content {
      @include outer-container;

      h1 {
        padding-top: $large-spacing;
      }
    }

    &-image {
      float: left;
      height: 200px;
      margin-right: 60px;
    }
  }

  &__changes {
    padding: $large-spacing 0 0;
    background-color: rgba($light-gray, 0.2);

    &-content {
      @include outer-container;

      h1 {
        padding-top: $large-spacing;
      }
    }

    &-image {
      float: right;
    }
  }

  &__numbers {
    padding: $large-spacing 0 0;

    &-content {
      @include outer-container;

      h1 {
        padding-top: $large-spacing;
      }
    }

    &-image {
      float: left;
      height: 200px;
      margin-right: 60px;
    }
  }

  &__quality {
    padding: $large-spacing 0 0;
    background-color: rgba($light-gray, 0.2);

    &-content {
      @include outer-container;

      h1 {
        padding-top: $large-spacing;
      }
    }

    &-image {
      float: right;
      margin: 0 80px;
    }
  }

  &__partners {
    &-content {
      @include outer-container;
      padding-top: $large-spacing;

      img {
        width: 200px;
        margin: 20px 9px;
      }
    }

    &-image {
      width: 320px !important;
      margin: 0 !important;
    }
  }
}

//@include span-columns(4);
