html, body {
  height: 100%;
}

#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 1;
}

.home {
  &__video {
    height: 95vh;
    position: relative;
    margin-bottom: $large-spacing;
    background-color: rgba(black, 0.3);
    overflow: hidden;
    min-height: 600px;

    &-content {
      position: absolute;
      width: 100%;
      text-shadow: 0px 0px 10px rgba($black, 0.34);
      text-align: center;
      color: white;
      padding: 11vh 30vh;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 25px;
      line-height: 140%;

      @media (max-width: 999px) {
        padding: 11vh 10vh;
      }

      @media (max-width: 630px) {
        padding: 8vh 5vh;
        font-size: 18px;
      }

      img {
        width: 300px;
        margin-bottom: 30px;

        @media (max-width: 630px) {
          width: 200px;
        }
      }

      .button {
        margin: 10px 0;
      }
    }
  }

  &__coating {
    padding: 0 0 $large-spacing !important;
  }

  &__coating,
  &__numbers {
    padding: $large-spacing 0;

    &-content {
      @include outer-container;
      padding: 0 $base-spacing;

      h1 {
        padding-top: $base-spacing;

        @media (max-width: 767px) {
          padding: 0;
        }
      }

      p {
        font-size: 18px;
        margin-bottom: $base-spacing;

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }

    &-image {
      float: left;
      height: 200px;
      margin-right: 90px;

      @media (max-width: 767px) {
        float: none;
        display: inline-block;
        margin: 0 auto 10px;
      }
    }
  }

  &__changes,
  &__quality {
    padding: $large-spacing 0;
    background-color: rgba($light-gray, 0.2);

    &-content {
      @include outer-container;
      padding: 0 $base-spacing;

      h1 {
        padding-top: $large-spacing;

        @media (max-width: 767px) {
          padding: 0;
        }
      }

      p {
        font-size: 18px;
        margin-bottom: $base-spacing;

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }

    &-image {
      float: right;

      @media (max-width: 767px) {
        float: none;
        display: inline-block;
        margin: 0 auto 30px;
      }
    }
  }

  &__partners {
    &-content {
      @include outer-container;
      padding: 0 $base-spacing;
      padding-top: $large-spacing;
      text-align: center;

      img {
        width: 192px;
        margin: 20px 9px;
      }

      h1 {
        text-align: center;
        color: $medium-green;
        font-size: 26px;
        margin-top: $large-spacing;

        @media (max-width: 767px) {
          margin-top: 0;
        }

        &.page__title {
          font-size: 32px;
          margin-top: 0;
        }
      }
    }

    &-image {
      width: 320px !important;
      margin: 0 !important;
    }
  }
}

//@include span-columns(4);
