.map__wrapper {
  display: flex;
}

.map,
.map__wrapper,
.map__canvas {
  flex: 1;
  min-height: 100%;
  width: 100%;
}

.map {
  display: flex;
  position: relative;
  z-index: 1;
}

.map__canvas {
  .spinner {
    z-index: 2 !important;
  }
}

.point-click.leaflet-container {
  cursor: pointer;
}
