.map__wrapper {
  display: flex;
}

.map,
.map__wrapper,
.map__canvas {
  flex: 1;
  min-height: 100%;
  width: 100%;
}

.map {
  display: flex;
  position: relative;
  z-index: 1;
}

.map__canvas {
  .spinner {
    z-index: 2 !important;
  }
}

.map-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: $base-spacing;
  box-shadow: $base-box-shadow;
  border-radius: $base-border-radius;
  background: $white;
  padding: $base-spacing;
  z-index: 9999;
  max-height: 100%;

  &--vertical-smaller {
    bottom: auto;
    margin: $base-spacing;

    @include media($mobile) {
      @include map-modal-smaller;
    }
  }

  &--horizontal-smaller {
    margin: $base-spacing auto;
    width: 700px;

    @include media($mobile) {
      @include map-modal-smaller;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.4;
    z-index: 20;
  }

  &__header {
    text-align: center;
    border-bottom: 1px solid $light-gray;
    padding-bottom: $small-spacing;
    margin-bottom: $base-spacing;
  }

  &__content {
    overflow: auto;
    padding: $micro-spacing;
    max-height: 450px;
    scroll-y: auto;

    ul {
      list-style-type: none;
      margin: $small-spacing 0 $small-spacing $base-spacing;
    }

    @include media($mobile) {
      height: calc(100% - 40px);
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: $small-spacing;

    button {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__tutorial {
    &--button {
      margin-right: $small-spacing;
    }

    ol {
      @extend %default-ol;
      list-style-type: decimal;
    }
  }

  &__download {
    margin: $small-spacing;
  }

  &__close {
    right: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    margin: $small-spacing;
    color: $medium-gray;

    &:hover, &:active, &:focus {
      color: $dark-gray;
    }
  }
}
