.hide-panels {
  .map-panel-can-hide {
    display: none !important;
  }
}

.map-panel {
  &__wrapper {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  &__area {
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;

    &:first-child { padding-right: 0; }
    &:last-child { padding-left: 0; }
  }

  &__grow {
    flex-grow: 1;
    overflow: hidden;
  }

  &__bottom {
    margin-top: auto;
    margin-bottom: 0;
  }

  &__main, &__point-info {
    flex-grow: 1;
  }

  &__sidebar {
    width: 320px;
  }

  &__main-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__tutorial {
    z-index: 30;
    pointer-events: none;
  }

  &__action-panel, &__info {
    pointer-events: all;
    margin-bottom: 10px;

    &--zoom-and-opacity {
      button {
        padding: 0.75em 1em;
      }
    }

    &--embed-code {
      margin-bottom: 0;
      text-align: right;

      i {
        margin: 0;
        font-size: 50px;
      }
    }
  }

  &__content {
    padding: 10px;
    background: #fff;
  }

  &__tab-panel {
    .ReactTabs__TabList {
      font-size: 10px;
    }
  }
}
