.map-panel {
  position: absolute;
  width: 300px;
  z-index: 1;
}

.map-panel--left {
  left: 20px;
}

.map-panel--right {
  right: 20px;
}

.map-panel--top {
  top: 20px;
}

.map-panel--bottom {
  bottom: 20px;
}

.map-panel__item {
  width: 100%;
}

.map-panel__item:not(:last-child) {
  margin-bottom: 10px;
}

.map-panel__item-content {
  padding: 10px;
  background: #fff;
}

.map-panel .ReactTabs__TabList {
  font-size: 10px;
}

.map-control__content:not(.map-control__content-no-max-height) {
  max-height: 300px;
  overflow-y: auto;
}

.map-panels--zoom-and-opacity-panel--opacity-dropdown {
  position: absolute;
  top: 100%;
  background-color: darken($primary-action-color, 15%);
  padding: 10px 15px;
  box-shadow: $base-box-shadow;
  width: 300px;
}

.map-control__content.scrollbar-dynamic .toggles-list {
  padding-right: 16px;
}

.map-control__content.scrollbar-dynamic > .scroll-element .scroll-bar {
  background: $primary-action-color;
}

.map-control__content.scrollbar-dynamic > .scroll-element .scroll-element_size {
  background: #f0f0f0;
}

.map-control__content.scrollbar-dynamic > .scroll-element .scroll-element_outer,
.map-control__content.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer {
  opacity: 1;
}

.map-control__content.scrollbar-dynamic > .scroll-element.scroll-y:hover .scroll-element_outer,
.map-control__content.scrollbar-dynamic > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
  min-width: 7px;
  width: 7px;
}

// .map-control-wrapper {
//   position: absolute;
//   margin: $base-spacing;
//   top: 0;
//   width: 340px;
//   right: 0;

//   @include media($mobile {
//     width: 250px;
//   }

//   &--left {
//     left: 0;
//   }

//   &--smaller {
//     width: 250px;
//   }

//   &--bigger {
//     width: 500px;
//   }

//   &--bottom {
//     top: auto;
//     bottom: 80px;

//     & > .map-control {
//       margin-top: $base-spacing;
//       margin-bottom: $base-spacing;
//     }
//   }
// }

// .map-control {
//   width: 100%;
//   border-radius: $base-border-radius;
//   background: $white;
//   padding: $base-spacing;
//   box-shadow: $base-box-shadow;

//   @include media($mobile-landscape {
//     display: none;
//   }

//   @include media($mobile {
//     display: none;
//   }

//   &__header {
//     text-align: center;
//   }

//   &__content {
//     button {
//       width: 100%;
//       margin-top: $small-spacing;
//     }
//   }

//   &__tabs {
//     margin: (-$base-spacing) (-$base-spacing) auto (-$base-spacing);
//     font-size: $small-font-size;

//     & > .tabs__item {
//       width: 33.33%;
//     }
//   }
// }
