.menu {
  line-height: $large-spacing;

  @include media ($tablet) {
    position: fixed;
    z-index: 10;
    top: 0;
    left: -310px;
    width: 300px;
    height: 100%;
    overflow: auto;
    background: $header-color;
    box-shadow: 4px 0 8px rgba($medium-gray, .4);
    line-height: $big-spacing;
    @include transition(all .5s ease-in-out);
  }

  &--expanded {
    left: 0;
  }

  &__header {
    display: none;
    height: 53px;
    padding: $micro-spacing $base-spacing;
    margin-bottom: $micro-spacing;
    border-bottom: 1px solid rgba($light-green, 0.4);
    background: $light-green;

    @include media ($tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h2 {
      margin: 0;
      color: $white;
    }

    .trigger {
      &, &:active, &:focus, &:hover {
        color: $white;
      }
    }
  }

  &__items {
    display: flex;

    @include media ($tablet) {
      display: block;
    }
  }

  &__item {
    padding: 0 0 0 $base-spacing;
    display: inline-block;
    position: relative;

    &:hover {
      .submenu__items {
        display: block;
      }
    }

    @include media ($tablet) {
      width: 100%;
    }
  }

  &__link {
    text-transform: uppercase;
    font-family: $heading-font-family;
    color: $medium-gray;

    &:hover {
      color: $dark-gray;
    }
  }
}

.submenu__items {
  @include media($desktop) {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    background-color: $light-green;
    z-index: 5;
    box-shadow: $base-box-shadow;

    .menu__item {
      white-space: nowrap;
      line-height: $base-font-size;
      display: block;
      padding: 0;

      &:hover {
        background: $medium-green;
      }
    }

    .menu__link {
      display: block;
      padding: $base-spacing;
      color: $white;
    }

    &:hover {
      display: block;
    }
  }
}

.trigger {
  font-size: 28px;
  padding: 4px 0px;
  border: none;
  outline: none;
  color: $medium-gray;
  background: transparent !important;
  box-shadow: none;

  &:active, &:focus {
    color: $medium-gray;
  }
}

.translation, .login {
  padding-left: $big-spacing;

  @include media ($tablet) {
    padding-left: $base-spacing;
  }
}

.translation {
  display: flex;
  align-items: center;

  @include media ($tablet) {
    display: block;
  }

  &__icon {
    color: $medium-gray;
    margin-right: $small-spacing;
    font-size: $base-font-size;
  }

  &__link {
    margin-right: $micro-spacing;

    &::after {
      content: '|';
      display: inline-block;
      margin-left: $micro-spacing;
    }

    &:last-child {
      margin-right: 0;
    }

    &:last-child::after {
      display: none;
    }
  }
}
