.methodology-presentation {
  margin: $small-spacing;
  padding: $small-spacing;
  display: inline-block;
  border: 1px solid $light-gray;
  width: 275px;

  &__title {
    font-weight: 500;
    padding: $micro-spacing 0 0 0;
    font-size: $base-font-size;
    text-align: center;
  }

  img {
    margin: 0;
  }
}

.page--methodology {
  img {
    margin: $base-spacing auto;
  }

  h2.page__title {
    color: $light-green;
    margin-top: $big-spacing;
    font-size: $subtitle-font-size;
  }
}
