.my-maps {
  &__description {
    padding-bottom: $small-spacing;
  }

  &__form {
    input {
      margin-bottom: $small-spacing;
    }
  }

  &__select {
    .Select-multi-value-wrapper {
      max-height: 100px;
      overflow-y: auto;
    }
  }

  &__embed-code {
    h3 {
      padding-top: $base-spacing;
    }

    blockquote {
      overflow-x: auto;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__actions, &__edit {
    padding-top: $base-spacing;
  }
}
