.quality-labels {
  margin: 0px !important;

  &__subtitle {
    margin-bottom: $small-spacing;
  }

  &__labels {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    padding-left: $medium-spacing;

    &--icon {
      width: 18px;
      height: 18px;
      border-radius: 12px;
      position: absolute;
      left: 0;
      opacity: 0.7;

      &.good {
        background: #008800;
      }

      &.regular {
        background: #FCF35B;
      }

      &.bad {
        background: #880000;
      }
    }
  }
}
