.stats {
  &__label {
    display: flex;
    align-items: center;
  }

  &__filter-box {
    margin: $big-spacing 0;
    padding: $big-spacing;
    background-color: $lighter-gray;
    border-radius: 2px;
  }

  &__filter {
    width: 47.5%;
    display: inline-block;
    margin-right: 5%;
  }

  &__filter:last-child {
    margin-right: 0;
  }

  &__chart-and-table {
    margin-bottom: $medium-spacing;
  }

  &__chart {
    margin-bottom: $base-spacing;
    min-height: 400px;
  }
}

.stats-table {
  overflow-x: auto;

  table {
    width: 100%;
  }

  th {
    font-weight: bolder;
    border-bottom-width: 2px;
  }

  th, td {
    padding: 4px 6px;
    white-space: nowrap;
  }
}
