.transitions-sankey {
  text-align: center;
  overflow: auto;
  margin: $small-spacing 0;
  font-size: $base-font-size !important;

  &__label {
    padding-bottom: $micro-spacing;
  }

  .transition-value {
    color: $light-gray;
  }
}

.transitions-control {
  button {
    margin-top: $micro-spacing;
    width: 100%;
  }
}

.transition-label {
  &__container {
    margin-bottom: $base-spacing;
  }

  &__item {
    margin-bottom: 0;
  }
}

.transitions-labels {
  &__select {
    display: flex;
    align-items: center;

    input {
      margin-left: 0;
    }
  }

  &__items {
    margin-top: $small-spacing;
  }

  &__item {
    padding: $micro-spacing 0px;
    display: flex;
    align-items: center;

    label {
      margin-bottom: 0;
    }
  }

  &__icon {
    margin-right: $small-spacing;
    font-size: 22px;
    cursor: pointer;
  }
}
