.transitions-sankey {
  height: 500px;
  text-align: center;
  overflow: auto;
  margin: $small-spacing 0;
  font-size: $base-font-size !important;

  &__label {
    padding-bottom: $micro-spacing;
  }

  .transition-value {
    color: $light-gray;
  }
}

.transitions-control {
  button {
    margin-top: $micro-spacing;
    width: 100%;
  }
}
