.classification-control__children-tree {
  padding-left: 20px;
}

.classification-control__node {
  padding: 5px 0px;
  display: flex;
  align-items: center;
}

.classification-control__node-icon {
  margin-right: 7px;
  font-size: 22px;
  cursor: pointer;
}

.classification-control__inner {
  padding-right: 12px;
  margin-top: $small-spacing;
}
