.leaflet-control-zoom {
  margin-left: $base-spacing !important;
  margin-top: $base-spacing !important;
  box-shadow: $base-box-shadow;

  a {
    border-radius: $base-border-radius !important;
  }

  @include media($tablet) {
    display: none;
  }
}

.leaflet-top, .leaflet-bottom {
  z-index: 5;
}

.leaflet-left .leaflet-control {
  margin: 0;
  border-radius: 0;
  font-size: 11px;

  .label {
    margin: 0px 5px;
  }
}
