.Select-input {
  outline: none !important;
  border: none !important;

  input, input:focus, input:active {
    width: 100% !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}
