@mixin react-toggle-track-bg-color($color) {
  &.react-toggle--checked,
  &.react-toggle.react-toggle-checked:hover {
    .react-toggle-track {
      background-color: $color !important;
    }
  }
}

$layers: (
  'states': #219648,
  'cities': #FF9900,
  'contour-maps': #999,
  'biomes': #F11810,
  'indigenous-lands': #7B00B4,
  'conservation-units': #FF6600,
  'macro-watersheds': #2B65C4,
  'watersheds': #4286F4,
  'car': #6F6F6F,
  'afro-brazilian-settlements': #FFF,
  'smallholder-settlements': #FF4FD5
);

.custom-toggle.mini-toggle{
  .react-toggle-track    {
    width: 28px !important;
    height: 13.5px !important;
  }

  .react-toggle-thumb {
    width: 14px !important;
    height: 14px !important;
  }

  &.react-toggle--checked .react-toggle-thumb {
    left: 16px;
  }
}
.custom-toggle {
  .react-toggle-track {
    width: 42px;
    height: 18px;
    border: 1px solid $light-gray;
    background-color: $light-gray;
  }

  .react-toggle-thumb {
    width: 16px;
    height: 16px;
    border: 1px solid $light-gray;
  }

  &.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: $light-gray;
  }

  &.react-toggle--checked .react-toggle-track {
    background-color: $light-green;
  }

  &.react-toggle.react-toggle--checked:hover .react-toggle-track {
    background-color: $light-green;
  }

  &.react-toggle--checked .react-toggle-thumb {
    left: 25px;
  }

  @each $layer, $color in $layers {
    &.#{$layer} {
      @include react-toggle-track-bg-color($color);
    }
  }
}
