.ReactTabs {
  background-color: $white;
  @include clearfix;

  @include media($mobile-landscape) {
    display: none;
  }

  @include media($mobile) {
    display: none;
  }

  .two-tabbed {
    & > li{
      width: 50%;
      text-align: center;
    }
  }

  .three-tabbed {
    & > li{
      width: calc(100% / 3);
      text-align: center;
    }
  }

  &__TabList {
    display: flex;
    justify-content: center;
    padding: $small-spacing $small-spacing 0;
    border-bottom: $base-border;
  }

  &__Tab {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: rem(-1px);
    list-style: none;
    padding: $micro-spacing $base-spacing;
    cursor: pointer;
    color: $light-gray;

    &:focus {
      outline: none;
    }

    &[aria-disabled=true] {
      cursor: default;
    }

    &--selected {
      border-bottom: rem(3px) solid $medium-green;
      color: $medium-green;
    }
  }

  .nav-buttons {
    text-align: right;
    top: rem(70px);
    right: initial;
    left: rem(-10px);
  }

  &__TabPanel {
    .map-control {
      box-shadow: none;
    }
  }
}
