.sankey {
  .node rect {
    shape-rendering: crispEdges;
  }

  .node text {
    pointer-events: none;
    font-size: $base-font-size;
  }

  .link {
    fill: none;
    stroke: $medium-gray;
    stroke-opacity: .2;
    cursor: pointer;
  }

  .link:hover,
  .link--active {
    stroke-opacity: .5;
  }

  &__preview {
    cursor: pointer;
    background-image: url('sankey-preview.png');
    background-repeat: no-repeat;
    height: 300px;
    background-size: 280px 300px;
    margin-bottom: $base-spacing;
    display: block;
  }
}
