.tooltip {
  font-size: $base-font-size;
  margin: 0 $micro-spacing;
  color: $dark-gray;
  cursor: help;
  vertical-align: middle;
}

.tooltip-custom-theme {
  background: rgba($dark-gray, 0.9);
  color: $white;
  max-width: 350px;

  .tooltipster-content {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 16px;
    margin: $small-spacing;

    ul li {
      margin: $micro-spacing;
    }

    h3 {
      color: $white;
    }
  }

  .warning {
    color: darken(#FFEACB, 20%);
  }

  blockquote {
    background-color: rgba($medium-gray, 0.4);
  }
}
