<article class="page">
  <div class="page__container">
    <h1 class="page__title">Estatísticas Coleção 1</h1>

    <p>Abaixo encontram-se livre para download as planilhas com os dados de cobertura do solo e mudanças de cobertura/uso do solo por bioma, estado e município.</p>

    <h2>Cobertura do Solo</h2>
    <p>
      <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Cobertura/biomas.xlsx" target="_blank">Bioma</a>  |  
      <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Cobertura/estados.xlsx" target="_blank">Estados</a>  |  
      <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Cobertura/municipios.xlsx" target="_blank">Municípios</a>
    </p>
    
    <h2>Mudança de Cobertura/Uso do Solo</h2>
    <p>
      <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Transi%C3%A7%C3%A3o/biomas.xlsx" target="_blank">Bioma</a>  |  
      <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Transi%C3%A7%C3%A3o/estados.xlsx" target="_blank">Estados</a>
    </p>
  </div>
</article>