<article class="page">
  <div class="page__container">
    <h1 class="page__title">Dados gerais</h1>

    <h2 class="page__subtitle">Transição</h2>

    <ul>
      <li>Biomas: <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Transi%C3%A7%C3%A3o/biomas.xlsx">https://s3.amazonaws.com/mapbiomas-ecostage/Transi%C3%A7%C3%A3o/biomas.xlsx</a></li>
      <li>Estados: <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Transi%C3%A7%C3%A3o/estados.xlsx">https://s3.amazonaws.com/mapbiomas-ecostage/Transi%C3%A7%C3%A3o/estados.xlsx</a></li>
      <li>Municípios: <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Transi%C3%A7%C3%A3o/municipios.xlsx">https://s3.amazonaws.com/mapbiomas-ecostage/Transi%C3%A7%C3%A3o/municipios.xlsx</a></li>
    </ul>

    <h2 class="page__subtitle">Cobertura</h2>

    <ul>
      <li>Biomas: <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Cobertura/biomas.xlsx">https://s3.amazonaws.com/mapbiomas-ecostage/Cobertura/biomas.xlsx</a></li>
      <li>Estados: <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Cobertura/estados.xlsx">https://s3.amazonaws.com/mapbiomas-ecostage/Cobertura/estados.xlsx</a></li>
      <li>Municípios: <a href="https://s3.amazonaws.com/mapbiomas-ecostage/Cobertura/municipios.xlsx">https://s3.amazonaws.com/mapbiomas-ecostage/Cobertura/municipios.xlsx</a></li>
    </ul>
  </div>
</article>
