<article class="page">
  <div class="page__container">
    <h1 class="page__title">Mosaicos LANDSAT</h1>

    <p>As classificações de cobertura e uso da terra da coleção MAPBIOMAS são baseadas em mosaicos LANDSAT. Para cada carta IBGE 1:250.000, em cada um dos anos avaliados, foi produzido um mosaico específico. Cada mosaico é produzido pela integração espacial das distintas cenas LANDSAT presentes em cada carta e pela integração temporal pixel a pixel, pelo cálculo da mediana, a partir do conjunto de cenas disponíveis para um determinado intervalo temporal. Estes intervalos temporais foram definidos em função da variação da fenologia das tipologias vegetais em cada um dos biomas brasileiros, como estratégia para melhorar os resultados da classificação.</p>

    <p>Aqui, no futuro, você poderá acessar os mosaicos gerados para cada uma das cartas IBGE 1:250.000. Ao todo serão 14 componentes por carta, incluindo até 8 bandas espectrais, 4 componentes do modelo de mistura e os índices NDFI e SMA.</p>

    <p>Dado o volume de dados que representa a coleção completa com todos os componentes (dezenas de terabites), No primeiro momento está disponível para download a composição RGB por carta e por ano. </p>

    <%= react_component('LandsatDownload', LandsatMosaicsPresenter.new) %>
  </div>
</article>
