<article class="page">
  <div class="page__container">
    <h1 class="page__title">Landsat Mosaics</h1>

    <p>The classification and land use and lan cover presented in MapBiomas Collection are based on Landsat mosaics. For each map IBGE 1 : 250,000, in each of the years analyzed, a specific tile was produced . Each tile is produced by the spatial integration of different scenes Landsat present on each map and by the integration time pixel by pixel,  by calculating the median from the set of scenes available for a particular time interval. These time intervals were defined based on variation in phenology of plant types in each of the Brazilian biomes, as a strategy to improve the classification results.</p>

    <p>Here you can access the mosaics generated for each of the map IBGE 1 : 250,000. Altogether, there will be 14 components by map, including up to 8 spectral bands , 4 components of the mixture model and NDFI and SMA indexes.</p>

    <p><strong>[EM BREVE]</strong></p>

    <%= image_tag "landsat_mosaic.png" %>
  </div>
</article>
