<article class="page">
  <div class="page__container">
    <h1 class="page__title">Coleção MapBiomas</h1>

    <p>A partir dos mosaicos LANDSAT são realizadas as classificações que resultam nos mapas de cobertura e uso da terra para cada ano. Com base na metodologia estabelecida pelo MAPBIOMAS os mapas são gerados. Dentro da lógica proposta pelo MAPBIOMAS os mapas serão atualizados cada vez que houver um aperfeiçoamento nos algoritmos de classificação. A metodologia de classificação é dinâmica e processual, com a finalidade de aperfeiçoar a classificação de cada tipologia.</p>

    <p>Aqui você poderá acessar os mapas de cobertura e uso classificados para cada uma das cartas IBGE 1:250.000.</p>

    <p><strong>[EM BREVE]</strong></p>
  </div>
</article>
