<article class="page page__mapbiomas-collections">
  <div class="page__container">
    <h1 class="page__title">Coleções MAPBIOMAS</h1>

    <p>From the LANDSAT mosaics the classifications process starts, resulting in the annual land use land cover maps. Within the logic proposed by MAPBIOMAS the maps are updated every time there is an improvement in the classification algorithms. The classification methodology is dynamic and procedural, with the purpose of improving the classification of each typology.</p>

    <p>Here you can access the land use and land cover maps organized per biome and year.</p>

    <blockquote>
      <strong>Warning:</strong> When composing a single mosaic or calculating statistics it should be noted that:
      <ul>
        <li>For area calculation, it is necessary to use a suitable metric projection.</li>
        <li>The limits of Biomes were adapted by MapBiomas team from the original scale 1:5.000.000 published by the IBGE to 1: 1,000,000. This adaptation was based on the Territorial Boundaries Maps of Brazil 1: 250,000 (IBGE) and physiognomies map 1: 1,000,000 also from the IBGE. The Shape of those limits is available for download along with the reference maps.</li>
        <li>All data are in GeoTiff format and have LZW compression.</li>
        <li>For collection 2.3 the anual maps area consolidated in a single file with 17 bands. Each band represents one year of classification (band 1=2000; band 17=2016). For the previous collections it's necessary to download each year separately. </li>
      </ul>
    </blockquote>

    <p>Maps of Collection 3 can be exported by biome, state or municipality (for each of the years of the series) directly through google earth engine using the script: <a href="https://code.earthengine.google.com/?accept_repo=users/mapbiomas/user-toolkit" target="_blank">https://code.earthengine.google.com/?accept_repo=users/mapbiomas/user-toolkit</a></p>
    <p>To access the previous collections (Collection 1, 2 and 2.3) available per bioma / year <strong><a href="mapbiomas_collection_download">click here</a></strong></p>

  </div>
</article>
