<article class="page">
  <div class="page__container">
    <h1 class="page__title">MapBiomas Collections</h1>

    <p>From the Landsat mosaics, classification are carried out to create the land use and land cover  maps for each year. Based on the methodology established by MapBiomas, the maps are generated. They  will be updated every time there is an improvement in ranking algorithms . The classification methodology and process is dynamic , in order to improve the classification of each type.</p>
    <p>Here you can access the land use and lan cover maps, classified for each of the maps IBGE 1 : 250,000.</p>

    <p><strong>[Comming soon]</strong></p>
  </div>
</article>
