<article class="page">
  <div class="page__container">
    <h1 class="page__title">Reference Maps</h1>

    <p>In order to evaluate the quality of the satellite image classification made by MapBiomas, we compiled the most recent land cover and land use maps for different regions in Brazil, created by public and non-governamental institutions and initiatives. These maps, based on the visual interpretation of satellite imagery, follow specific classification typologies and were produced with its own methods and at different spatial scales.</p>

    <p>The following is a list of reference maps that are being used. Some of these maps are already available, while others  have not yet had the their vector and raster data publicly released. Where available, it is indicated the link to retrieve the data from its original source.</p>

    <table class="table">
      <tr>
        <td><strong>Map Name</strong></td>
        <td><strong>Source / Author</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Link</strong></td>
      </tr>
      <tr>
        <td>Land-use map for Brasil</td>
        <td>IBGE</td>
        <td>Land-use map based on  MODIS data (250m) with comparisons between  2000, 2010, and 2012</font></td>
        <td><a href="ftp://geoftp.ibge.gov.br/mapas_tematicos/mapas_murais/shapes/cobertura_e_uso_da_terra/">ftp://geoftp.ibge.gov.br/mapas_tematicos/mapas_murais/shapes/cobertura_e_uso_da_terra/"</td>
      </tr>
      <tr>
        <td>Terra Class Cerrado</td>
        <td>MMA, IBAMA, EMBRAPA, INPE, UFG e UFU</td>
        <td>Land-cover and land -use map for the Cerrado region</td>
        <td>Not yet available</td>
      </tr>
      <tr>
        <td>2002 Rio Grande do Sul Forest Map</td>
        <td>Cordeiro, J.L.P.; Hasenack, H. 2009</td>
        <td>Forested typologies for Rio Grande do Sul, based on the visual interpretation of 2002 Landsat data.</td>
        <td><a href="http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2002/SEEGMapBiomas/Pampa_referencia_2002.zip">http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2002/SEEGMapBiomas/Pampa_referencia_2002.zip</a></td>
      </tr>
      <tr>
        <td>2009 Rio Grande do Sul Forest Map</td>
        <td>Hasenack et al. (not finished)</td>
        <td>Partial mapping of forested typologies in Rio Grande do Sul based on the visual interpretation of 2009 Landsat images.</td>
        <td><a href="http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2009/SEEGMapBiomas/Pampa_referencia_2009.zip">http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2009/SEEGMapBiomas/Pampa_referencia_2009.zip</a></td>
      </tr>
      <tr>
        <td>Atlantic Forest Atlas</td>
        <td>SOS Mata Atlântica/INPE</td>
        <td>Mapping of forested formations and associated ecosystems (2014).</td>
        <td><a href="http://mapas.sosma.org.br/dados/">http://mapas.sosma.org.br/dados/</a></td>
      </tr>
      <tr>
        <td>Alto Paraguai Basin Mapping</td>
        <td>SOS Pantanal/WWF Brasil</td>
        <td>Land cover and land use monitoring of the Alto Paraguai Basin, including the , Pantanal and its headwaters. Data available for  2002, 2008, 2010, 2012, and 2014.</td>
        <td><a href="https://panda.maps.arcgis.com/apps/MapJournal/?appid=1fa369eeb20f40f386c7b81fe1462927">https://panda.maps.arcgis.com/apps/MapJournal/?appid=1fa369eeb20f40f386c7b81fe1462927</a></font></td>
      </tr>
      <tr>
        <td>North region of Brazil mangrove map </td>
        <td>Nascimento Jr, W.R; Souza-Filho, P.W.M., et al.</td>
        <td>Mangrove map depicting areas from Oiapoque-AP to Ponta de Tubarão-MA, based on the classification of 2008 Landsat and ALOS PALSAR images.</td>
        <td>Not yet available</td>
      </tr>
      <tr>
        <td>Northeastern region mangrove maps</td>
        <td>Pereira, E.A., Souza-Filho, P.W.M., et al.</td>
        <td>Map depicting the mangrove areas from Ponta de Tubarão-MA to the southern portion of Bahia State, based on the classification of  Landsat and ALOS PALSAR images.</td>
        <td>Not yet available</td>
      </tr>
      <tr>
        <td>Map of the spatial distribution of large-scale agricultural in Brazil</td>
        <td>Rudorff, B.F.T et al. (LAF/INPE)</td>
        <td>Maps for large-scale rice, soy, corn, and cotton crops,:for the years / harvestings: 2002/2003, 2007/2008 e 2010/2011.</td>
        <td><a href="http://mapas.cnpm.embrapa.br/somabrasil/webgis.html">http://mapas.cnpm.embrapa.br/somabrasil/webgis.html</a></td>
      </tr>
      <tr>
        <td>Cerrado agricultural maps (project: Geospatial analyses of the annual crops dynamic in the Brazilian Cerrado biome: 2000 to 2014)</td>
        <td>Agrosatélite</td>
        <td>Agricultural maps including soy, corn, and cotton, for the entire Cerrado area, for the years / harvestings: 2000/2001, 2006/2007 e 2013/2014.</td>
        <td>Not yet available</td>
      </tr>
      <tr>
        <td>Planted forests map</td>
        <td>GFW/WRI</td>
        <td>Map depicting the planted forests in Brazil</td>
        <td>Not yet available</td>
      </tr>
      <tr>
        <td>Canasat</td>
        <td>INPE/Agrosatelite</td>
        <td>Sugarcane map for Central-Southern region of  Brazil</td>
        <td>Not yet available</td>
      </tr>
      <tr>
        <td>Pasture</td>
        <td>LAPIG</td>
        <td>Compilation work from different sources at multiple scales</td>
        <td><a href="https://www.pastagem.org">https://www.pastagem.org</a></td>
      </tr>
    </table>
  </div>
</article>
