<article class="page">
  <div class="page__container">
    <h1 class="page__title">Reference Maps</h1>

    <p>Here are the reference maps used by MapBiomas to train the classification algorithms or to evaluate the quality of the automatic classification process. These references come from diverse organizations and with varied temporal and geographic scope.</p>

    <p>Some of these maps still do not have public access because they are in the process of being published. When available we will indicate the link to download the data directly from the source of the maps.</p>

    <script type="text/javascript">
      $(document).on('change', '#collection', function(){
        if($(this).val() == '1'){
          $('#collection1').show();
          $('#collection2').hide();
        }else{
          $('#collection1').hide();
          $('#collection2').show();
        }

        $('#collection').trigger('change');
      });

      $(function(){
        $('#collection').trigger('change');
      });


    </script>
    <div class="page__box-download">
      <%= select_tag "collection", options_for_select([["Collection 2", 2], ["Collection 1", 1]]), id: "collection" %>
    </div>
    <table id="collection1" class="table" style="display: none;">
      <tr>
        <td><strong>Map name / Product</strong></td>
        <td><strong>Source / Author</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Year Map</strong></td>
        <td><strong>Link</strong></td>
      </tr>
      <tr>
        <td>Mapa de Uso do Solo do Brasil</td>
        <td>IBGE</td>
        <td>Mapa de uso do solo baseado em Modis (resolução espacial 250m) com comparações entre os anos 2000, 2010 e 2012</td>
        <td>2000, 2010, 2012</td>
        <td><a href="ftp://geoftp.ibge.gov.br/mapas_tematicos/mapas_murais/shapes/cobertura_e_uso_da_terra/" class="link-overflow">ftp://geoftp.ibge.gov.br/mapas_tematicos/mapas_murais/shapes/cobertura_e_uso_da_terra/</a></td>
      </tr>
      <tr>
        <td>Terra Class Cerrado</td>
        <td>MMA, IBAMA, EMBRAPA, <br>INPE, UFG e UFU</td>
        <td>Mapeamento do Uso e Cobertura da Terra do Cerrado</td>
        <td>2013</td>
        <td><a href="http://www.dpi.inpe.br/tccerrado/download.php" class="link-overflow">http://www.dpi.inpe.br/tccerrado/download.php</a></td>
      </tr>
      <tr>
        <td>Mapa de Florestas do Rio Grande do Sul 2002</td>
        <td>CORDEIRO, J.L.P.; <br>HASENACK, H. 2009</td>
        <td>Tipologias florestais do Rio Grande do Sul para o ano base 2002, com base na interpretação visual de imagens Landsat. Extraído do mapa de Cobertura vegetal atual do Rio Grande do Sul</td>
        <td>2002</td>
        <td><a href="http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2002/SEEG_Map_Biomas/Pampa_referencia_2002.zip" class="link-overflow">http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2002/SEEG_Map_Biomas/Pampa_referencia_2002.zip</a></td>
      </tr>
      <tr>
        <td>Mapa de cobertura vegetal e uso do solo do Rio Grande do Sul 2002</td>
        <td>CORDEIRO, J.L.P.; <br>HASENACK, H. 2009</td>
        <td>Mapa de Cobertura vegetal do Rio Grande do Sul - ano base 2002, obtido por interpretação visual de imagens Landsat. Nível de detalhe compatível com escala 1:250.000</td>
        <td>2002</td>
        <td>não disponível</td>
      </tr>
      <tr>
        <td>Mapa de Florestas do Rio Grande do Sul 2009</td>
        <td>Hasenack et al. <br>(não finalizado)</td>
        <td>Mapeamento das tipologias florestais do Rio Grande do Sul para o ano base 2009, com base na interpretação visual de imagens Landsat</td>
        <td>2009</td>
        <td><a href="http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2009/SEEGMapBiomas/Pampa_referencia_2009.zip" class="link-overflow">http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2009/SEEGMapBiomas/Pampa_referencia_2009.zip</a></td>
      </tr>
      <tr>
        <td>Mapa de cobertura vegetal e uso do solo do Rio Grande do Sul 2009</td>
        <td>Hasenack et al. <br>(não finalizado)</td>
        <td>Mapa de Cobertura vegetal do Rio Grande do Sul - ano base 2009, obtido por interpretação visual de imagens Landsat. Nível de detalhe compatível com escala 1:250.000</td>
        <td>2009</td>
        <td>não disponível</td>
      </tr>
      <tr>
        <td>Atlas da Mata Atlântica</td>
        <td>SOS Mata Atlântica/INPE</td>
        <td>Mapeamento das formações florestais e ecossistemas associados, ano de referência 2014</td>
        <td>2014</td>
        <td><a href="http://mapas.sosma.org.br/dados/" class="link-overflow">http://mapas.sosma.org.br/dados/</a></td>
      </tr>
      <tr>
        <td>Mapeamento da Bacia do Alto Paraguai</td>
        <td>SOS Pantanal/WWF Brasil</td>
        <td>Monitoramento do uso e cobertura vegetal da Bacia do Alto Paraguai, que inclui o Pantanal e suas cabeceiras. Dados disponíveis para 2002, 2008, 2010, 2012 e 2014</td>
        <td>2014</td>
        <td><a href="https://panda.maps.arcgis.com/apps/MapJournal/?appid=1fa369eeb20f40f386c7b81fe1462927" class="link-overflow">https://panda.maps.arcgis.com/apps/MapJournal/?appid=1fa369eeb20f40f386c7b81fe1462927</a></td>
      </tr>
      <tr>
        <td>Mapa dos manguezais da região norte do Brasil</td>
        <td>Nascimento Jr, W.R;<br> Souza-Filho, P.W.M., et al.</td>
        <td>Mapa das áreas de manguezal do Oiapoque-AP até a Ponta de Tubarão-MA gerado a partir da classificação de imagens Landsat e ALOS PALSAR do ano de 2008</td>
        <td>2008</td>
        <td>não disponível</td>
      </tr>
      <tr>
        <td>Mapa dos manguezais da região nordeste do Brasil</td>
        <td>Pereira, E.A., Souza-Filho,<br> P.W.M., et al.</td>
        <td>Mapa das áreas de manguezal da Ponta de Tubarão-MA até o sul do Estado da Bahia a partir da classificação de imagens Landsat e ALOS PALSAR do ano de 2008</td>
        <td>2008</td>
        <td>não disponível</td>
      </tr>
      <tr>
        <td>Mapa da distribuição espacial da agricultura de larga escala no Brasil</td>
        <td>Rudorff, B.F.T et al. (LAF/INPE)</td>
        <td>Mapas que incluem as culturas de algodão, arroz, milho e soja, cultivados em larga escala, para os anos/safra: 2002/2003, 2007/2008 e 2010/2011.</td>
        <td>2002/2003, 2007/2008 e 2010/2011</td>
        <td><a href="http://mapas.cnpm.embrapa.br/somabrasil/webgis.html" class="link-overflow">http://mapas.cnpm.embrapa.br/somabrasil/webgis.html</a></td>
      </tr>
      <tr>
        <td>Mapas da agricultura para o cerrado (projeto: Geospatial analyses of the annual crops dynamic in the Brazilian Cerrado biome: 2000 to 2014)</td>
        <td>Agrosatélite </td>
        <td>Mapas que incluem as culturas de algodão, milho e soja, cultivados em larga escala, para os anos/safra: 2000/2001, 2006/2007 e 2013/2014.</td>
        <td>2000/2001, 2006/2007 e 2013/2014</td>
        <td>não disponível</td>
      </tr>
        <tr>
        <td>Mapa de florestas plantadas</td>
        <td>GFW/WRI</td>
        <td>Mapa de florestas plantadas para o Brasil</td>
        <td>2014</td>
        <td><a href="http://data.globalforestwatch.org/datasets/baae47df61ed4a73a6f54f00cb4207e0_5" class="link-overflow">http://data.globalforestwatch.org/datasets/baae47df61ed4a73a6f54f00cb4207e0_5</a></td>
      </tr>
      <tr>
        <td>Canasat</td>
        <td>INPE/Agrosatelite</td>
        <td>Mapa da cana-de-açúcar para o centro-sul do Brasil</td>
        <td>2003 a 2015</td>
        <td>não disponível</td>
      </tr>
      <tr>
        <td>Mapas de Cobertura Vegetal dos Biomas Brasileiros - -ProBio</td>
        <td>UEFS / APNE / EMBRAPA - Solos / UFCE / UFRN / UFRPE / UFPB / CRA /  SEMARH-MMA</td>
        <td>Levantamento da cobertura vegetal e do uso do solo do  bioma caatinga</td>
        <td>2002-2004</td>
        <td><a href="http://mapas.mma.gov.br/geodados/brasil/vegetacao/vegetacao2002/mosaicos_vegetacao/caatinga.zip" class="link-overflow">http://mapas.mma.gov.br/geodados/brasil/vegetacao/vegetacao2002/mosaicos_vegetacao/caatinga.zip</a></td>
      </tr>
      <tr>
        <td>Mapas da agricultura para o cerrado</td>
        <td>Agrosatélite </td>
        <td>Map of the cultivated area of 1st crop season of soybean, corn, and cotton in the Cerrado biome</td>
        <td>2000/2001, 2006/2007 e 2013/2014</td>
        <td>não disponível</td>
      </tr>
      <tr>
        <td>Mapas da agricultura para o cerrado</td>
        <td>Agrosatélite </td>
        <td>Map of Land-use and land-cover change in the Cerrado biome</td>
        <td>2000/01 - 2006/07, 2006/07 - 2014/15</td>
        <td>não disponível</td>
      </tr>
      <tr>
    </table>

    <!-- collection2 -->

    <table id="collection2" class="table">
      <tr>
        <td><strong>Map name / Product</strong></td>
        <td><strong>Source / Author</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Year Map</strong></td>
        <td><strong>Type of Use permit <br> (if applicable)</strong></td>
        <td><strong>Download</strong></td>
      </tr>
      <tr>
        <td>Mapa de Uso do Solo do Brasil</td>
        <td>IBGE</td>
        <td>Mapa de uso do solo baseado em Modis (250mt) com comparaçÕes entre os anos 2000, 2010 e 2012</td>
        <td>2000, 2010, 2012</td>
        <td>Arquivo público</td>
        <td><a href="ftp://geoftp.ibge.gov.br/mapas_tematicos/mapas_murais/shapes/cobertura_e_uso_da_terra/" class="link-overflow">ftp://geoftp.ibge.gov.br/mapas_tematicos/mapas_murais/shapes/cobertura_e_uso_da_terra/</a></td>
      </tr>
      <tr>
        <td>Terra Class Cerrado</td>
        <td>MMA, IBAMA, EMBRAPA, <br>INPE, UFG e UFU</td>
        <td>Mapeamento do Uso e Cobertura da Terra do Cerrado</td>
        <td>2013</td>
        <td>Arquivo público</td>
        <td><a href="http://www.dpi.inpe.br/tccerrado/download.php" class="link-overflow">http://www.dpi.inpe.br/tccerrado/download.php</a></td>
      </tr>
      <tr>
        <td>Mapa de Florestas do Rio Grande do Sul 2002</td>
        <td>CORDEIRO, J.L.P.; <br>HASENACK, H. 2009</td>
        <td>Tipologias florestais do Rio Grande do Sul para o ano base 2002, com base na interpretação visual de imagens Landsat. Extraído do mapa de Cobertura vegetal atual do Rio Grande do Sul</td>
        <td>2002</td>
        <td>Arquivo público</td>
        <td><a href="http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2002/SEEG_Map_Biomas/Pampa_referencia_2002.zip" class="link-overflow">http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2002/SEEG_Map_Biomas/Pampa_referencia_2002.zip</a></td>
      </tr>
      <tr>
        <td>Mapa de cobertura vegetal e uso do solo do Rio Grande do Sul 2002</td>
        <td>CORDEIRO, J.L.P.; <br>HASENACK, H. 2009</td>
        <td>Mapa de Cobertura vegetal do Rio Grande do Sul - ano base 2002, obtido por interpretação visual de imagens Landsat. Nível de detalhe compatível com escala 1:250.000</td>
        <td>2002</td>
        <td>Arquivo público</td>
        <td><a href="http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2002/SEEG_Map_Biomas/Pampa_referencia_2002.zip" class="link-overflow">http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2002/SEEG_Map_Biomas/Pampa_referencia_2002.zip</a></td>
      </tr>
      <tr>
        <td>Mapa de Florestas do Rio Grande do Sul 2009</td>
        <td>Hasenack et al. <br>(não finalizado)</td>
        <td>Mapeamento das tipologias florestais do Rio Grande do Sul para o ano base 2009, com base na interpretação visual de imagens Landsat</td>
        <td>2009</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td><a href="http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2009/SEEGMapBiomas/Pampa_referencia_2009.zip" class="link-overflow">http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2009/SEEGMapBiomas/Pampa_referencia_2009.zip</a></td>
      </tr>
      <tr>
        <td>Mapa de cobertura vegetal e uso do solo do Rio Grande do Sul 2009</td>
        <td>Hasenack et al. <br>(não finalizado)</td>
        <td>Mapa de Cobertura vegetal do Rio Grande do Sul - ano base 2009, obtido por interpretação visual de imagens Landsat. Nível de detalhe compatível com escala 1:250.000</td>
        <td>2009</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td><a href="http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2009/SEEGMapBiomas/Pampa_referencia_2009.zip" class="link-overflow">http://www.ecologia.ufrgs.br/labgeo/arquivos/downloads/dados/2009/SEEGMapBiomas/Pampa_referencia_2009.zip</a></td>
      </tr>
      <tr>
        <td>Atlas da Mata Atlântica</td>
        <td>SOS Mata Atlântica/INPE</td>
        <td>Mapeamento das formações florestais e ecossistemas associados, ano de referência 2014</td>
        <td>2014</td>
        <td>Arquivo público</td>
        <td><a href="http://mapas.sosma.org.br/dados/" class="link-overflow">http://mapas.sosma.org.br/dados/</a></td>
      </tr>
      <tr>
        <td>Mapeamento da Bacia do Alto Paraguai</td>
        <td>SOS Pantanal/WWF Brasil</td>
        <td>Monitoramento do uso e cobertura vegetal da Bacia do Alto Paraguai, que inclui o Pantanal e suas cabeceiras. Dados disponíveis para 2002, 2008, 2010, 2012 e 2014</td>
        <td>2014</td>
        <td>Arquivo público</td>
        <td><a href="https://panda.maps.arcgis.com/apps/MapJournal/?appid=1fa369eeb20f40f386c7b81fe1462927" class="link-overflow">https://panda.maps.arcgis.com/apps/MapJournal/?appid=1fa369eeb20f40f386c7b81fe1462927</a></td>
      </tr>
      <tr>
        <td>Mapa dos manguezais da região norte do Brasil</td>
        <td>Nascimento Jr, W.R;<br> Souza-Filho, P.W.M., et al.</td>
        <td>Mapa das áreas de manguezal do Oiapoque-AP até a Ponta de Tubarão-MA gerado a partir da classificação de imagens Landsat e ALOS PALSAR do ano de 2008</td>
        <td>2008</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td>Não disponível</td>
      </tr>
      <tr>
        <td>Mapa dos manguezais da região nordeste do Brasil</td>
        <td>Pereira, E.A., Souza-Filho,<br> P.W.M., et al.</td>
        <td>Mapa das áreas de manguezal da Ponta de Tubarão-MA até o sul do Estado da Bahia a partir da classificação de imagens Landsat e ALOS PALSAR do ano de 2008</td>
        <td>2008</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td>Não disponível</td>
      </tr>
      <tr>
        <td>Mapa da distribuição espacial da agricultura de larga escala no Brasil</td>
        <td>Rudorff, B.F.T et al. (LAF/INPE)</td>
        <td>Mapas que incluem as culturas de algodão, arroz, milho e soja, cultivados em larga escala, para os anos/safra: 2002/2003, 2007/2008 e 2010/2011.</td>
        <td>2002/2003, 2007/2008 e 2010/2011</td>
        <td>Arquivo público</td>
        <td><a href="http://mapas.cnpm.embrapa.br/somabrasil/webgis.html" class="link-overflow">http://mapas.cnpm.embrapa.br/somabrasil/webgis.html</a></td>
      </tr>
      <tr>
        <td>Mapas da agricultura para o cerrado (projeto: Geospatial analyses of the annual crops dynamic in the Brazilian Cerrado biome: 2000 to 2014)</td>
        <td>Agrosatélite </td>
        <td>Mapas que incluem as culturas de algodão, milho e soja, cultivados em larga escala, para os anos/safra: 2000/2001, 2006/2007 e 2013/2014.</td>
        <td>2000/2001, 2006/2007 e 2013/2014</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td>Não disponível</td>
      </tr>
        <tr>
        <td>Mapa de florestas plantadas</td>
        <td>GFW/WRI</td>
        <td>Mapa de florestas plantadas para o Brasil</td>
        <td>2014</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td><a href="http://data.globalforestwatch.org/datasets/baae47df61ed4a73a6f54f00cb4207e0_5" class="link-overflow">http://data.globalforestwatch.org/datasets/baae47df61ed4a73a6f54f00cb4207e0_5</a></td>
      </tr>
      <tr>
        <td>Canasat</td>
        <td>INPE/Agrosatelite</td>
        <td>Mapa da cana-de-açúcar para o centro-sul do Brasil</td>
        <td>2003 a 2015</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td>Não disponível</td>
      </tr>
      <tr>
        <td>Mapas de Cobertura Vegetal dos Biomas Brasileiros - -ProBio</td>
        <td>UEFS / APNE / EMBRAPA - Solos / UFCE / UFRN / UFRPE / UFPB / CRA /  SEMARH-MMA</td>
        <td>Levantamento da cobertura vegetal e do uso do solo do  bioma caatinga</td>
        <td>2002-2004</td>
        <td>Arquivo público</td>
        <td><a href="http://mapas.mma.gov.br/geodados/brasil/vegetacao/vegetacao2002/mosaicos_vegetacao/caatinga.zip" class="link-overflow">http://mapas.mma.gov.br/geodados/brasil/vegetacao/vegetacao2002/mosaicos_vegetacao/caatinga.zip</a></td>
      </tr>
      <tr>
        <td>Mapeamento Florestal do Estado de Sergipe</td>
        <td>SEMARH-SE</td>
        <td>Levantamento da cobertura Florestal do Estado de Sergipe</td>
        <td>2010</td>
        <td>Arquivo público</td>
        <td>Não disponível</td>
      </tr>
      <tr>
        <td>Mapas da agricultura para o cerrado</td>
        <td>Agrosatélite </td>
        <td>Map of the cultivated area of 1st crop season of soybean, corn, and cotton in the Cerrado biome</td>
        <td>2000/2001, 2006/2007 e 2013/2014</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td>Não disponível</td>
      </tr>
      <tr>
        <td>Mapeamento de uso da terra para os estados de TC, SP, RJ, SC, MG, ES, MT, MS, GO, DF e PR</td>
        <td>FBDS</td>
        <td>Mapeamento de uso da terra para o estado de Tocantins com classes de floresta, vegetação não florestal, silvicultura, áreas edificadas e água. Baseado em imagens de alta resolução RapidEye.</td>
        <td>2013</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td>Não disponível</td>
      </tr>
      <tr>
        <td>Atlas da Mata Atlântica</td>
        <td>SOS Mata Atlântica/INPE</td>
        <td>Mapeamento detalhado com 1ha para o Estado de São Paulo</td>
        <td>2014</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td>Solicitação por email para SOS Mata Atlântica/INPE</td>
      </tr>
      <tr>
        <td>Atlas da Mata Atlântica</td>
        <td>SOS Mata Atlântica/INPE</td>
        <td>Mapeamento detalhado com 1ha para o Estado do Rio de Janeiro</td>
        <td>2014</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td>Solicitação por email para SOS Mata Atlântica/INPE</td>
      </tr>
      <tr>
        <td>Global Distribution of Mangroves USGS</td>
        <td>USGS</td>
        <td>This dataset shows the global distribution of mangrove forests, derived from earth observation satellite imagery</td>
        <td>1997-2000</td>
        <td>Arquivo público</td>
        <td><a href="http://sedac.ciesin.columbia.edu/data/set/lulc-global-mangrove-forests-distribution-2000/data-download" class="link-overflow">http://sedac.ciesin.columbia.edu/data/set/lulc-global-mangrove-forests-distribution-2000/data-download</a></td>
      </tr>
      <tr>
        <td>Mapa Síntese de Pastagens do Brasil - v8</td>
        <td>LAPIG/UFG</td>
        <td>Mapeamento de áreas de pastagem, a partir de compilação de dados TerraClass Amazon; Funcate;  PROBIO; Canasat e TNC. Os mapeamentos que o compõem são: Bioma Pantanal - Mapeamento da Bacia do Alto Paraguai para 2014; Bioma Caatinga ( Mapeamento Lapig - Versão 2 2014-2016) - Esse mapeamento classificou as áreas de pasto limpo, pasto sujo e área degradada (solo exposto); Bioma Mata Atlântica (Mapeamento Lapig 2014-2016) - Esse mapeamento classificou as áreas de pasto limpo, pasto sujo e área degradada (solo exposto); Bioma Pampa - Mapeamento realizado pelo IBGE para o  estado do Rio Grande do Sul (2012); Bioma Amazônia - Mapeamento TerraClass Amazônia 2014; Bioma Cerrado - Mapeamento TerraClass Cerrado 2013.</td>
        <td>2016</td>
        <td>Arquivo público</td>
        <td><a href="http://maps.lapig.iesa.ufg.br/?layers=pa_br_areas_pastagens_250_2016_lapig" class="link-overflow">http://maps.lapig.iesa.ufg.br/?layers=pa_br_areas_pastagens_250_2016_lapig</td>
      </tr>
      <tr>
        <td>Prodes</td>
        <td>INPE</td>
        <td>O projeto PRODES realiza o monitoramento por satélites do desmatamento por corte raso na Amazônia Legal e produz, desde 1988, as taxas anuais de desmatamento na região, que são usadas pelo governo brasileiro para o estabelecimento de políticas públicas. As taxas anuais são estimadas a partir dos incrementos de desmatamento identificados em cada imagem de satélite que cobre a Amazônia Legal. A primeira apresentação dos dados é realizada para dezembro de cada ano, na forma de estimativa. Os dados consolidados são apresentados no primeiro semestre do ano seguinte./td>
        <td>2016</td>
        <td>Arquivo público</td>
        <td><a href="http://www.dpi.inpe.br/prodesdigital/dadosn/" class="link-overflow">http://www.dpi.inpe.br/prodesdigital/dadosn/</a></td>
      </tr>
      <tr>
        <td>Terra Class Amazônia</td>
        <td>INPE</td>
        <td>Como principal resultado deste mapeamento é possível entender a dinâmica de uso e cobertura da Amazônia Legal Brasileira. Para isto já foram mapeados cinco anos de uso e cobertura (2004, 2008, 2010, 2012 e 2014) permitirão uma análise evolutiva de uma década que se inicia no ano da implantação do Plano de Prevenção e Controle do Desmatamento na Amazônia Legal (PPCDAm). Com estes resultados é possível fazer uma avaliação da dinâmica do uso e ocupação das áreas desflorestadas nestes 10 anos da implementação do PPCDAm.</td>
        <td>2014</td>
        <td>Arquivo público</td>
        <td><a href="http://www.inpe.br/cra/projetos_pesquisas/dados_terraclass.php" class="link-overflow">http://www.inpe.br/cra/projetos_pesquisas/dados_terraclass.php</a></td>
      </tr>
      <tr>
        <td>Global Forest Change 2000–2015</td>
        <td>University of Maryland</td>
        <td>Results from time-series analysis of Landsat images in characterizing global forest extent and change from 2000 through 2015. For additional information about these results, please see the associated journal article (Hansen et al., Science 2013).</td>
        <td>2015</td>
        <td>Arquivo público</td>
        <td><a href="https://earthenginepartners.appspot.com/science-2013-global-forest/download_v1.2.html" class="link-overflow">https://earthenginepartners.appspot.com/science-2013-global-forest/download_v1.2.html</a></td>
      </tr>
      <tr>
        <td>Land Cover Rondônia 1984 -2010</td>
        <td>University of California Santa Barbara (UCSB)</td>
        <td>This project is part of a collaborative research effort between UCSB, Salisbury University (Maryland) and North Carolina State University. Under the direction of principal investigators Jill Caviglia-Harris, 
Daniel Harris (Salisbury), Erin Sills (NCSU) and Dar Roberts (UCSB), we have been active in the production and management of a gapless annual Landsat imagery archive (1984-2009) covering the majority of the state of Rondonia</td>
        <td>2010</td>
        <td>Restrito ao SEEG MapBiomas</td>
        <td><a href="https://sites.google.com/site/ucsbviperlab/project-definition#TOC-Land-use-and-land-cover-change-in-Rondonia-Brazil" class="link-overflow">https://sites.google.com/site/ucsbviperlab/project-definition#TOC-Land-use-and-land-cover-change-in-Rondonia-Brazil</a></td>
      </tr>
    </table>
  </div>
</article>
