.footer {
  background-color: $footer-color;
  @include clearfix;

  &__copyright {
    color: $light-gray;
    text-align: center;
    padding: $small-spacing;
  }

  &__seeg {
    float: left;
  }

  &__ecostage {
    float: right;
  }

  &__seeg,
  &__ecostage {
    padding: $small-spacing;
  }

  .ecostage-label,
  .seeg-label {
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    font-size: 0.8rem;
    vertical-align: middle;
    margin: 0 $small-spacing 0 0;
  }

  &__image {
    height: 24px;
    vertical-align: middle;
  }
}
