.header {
  background: $header-color;
  margin: 0 $base-spacing;

  @include media($mobile) {
    margin: 0 $small-spacing;
  }

  &__nav {
    padding: 6px 0;
    @include clearfix;
  }

  &__logo > img {
    float: left;
    margin-top: -2px;
    margin-left: -2px;
    height: 46px;
    margin: 6px 0;

    @include media($mobile) {
      height: 36px;
    }
  }
}
