$layer-toggler-size: 70px;
.layer-toggler {
  width: $layer-toggler-size;
  padding: 0px;

  &__button {
    background-image: image-url("layer-toggler.png");
    background-size: cover;
    width: $layer-toggler-size;
    height: $layer-toggler-size;
    border: 2px solid $white;
  }
}
