.map__wrapper {
  display: table-row;
}

.map,
.map__wrapper,
.map__canvas {
  height: 100%;
  width: 100%;
}

.map {
  position: relative;
  z-index: 1;
}

.map-control-wrapper {
  position: absolute;
  margin: $base-spacing;
  top: 60px;
  width: 300px;
  right: 0;

  &.left {
    left: 0;
  }
}

.map-control {
  width: 100%;
  background: $white;
  padding: $base-spacing;
  margin-bottom: $base-spacing;
  box-shadow: 1px 1px 8px rgba($dark-gray, 0.2);

  &__header {
    text-align: center;
  }

  &__content {
    button {
      width: 100%;
      margin-top: $small-spacing;
    }
  }
}

.classifications-control {
  width: 256px;
  bottom: 0px
}

.classifications-list {
  .classification-item {
    position: relative;
  }

  label {
    display: inline-block;
  }

  .react-toggle {
    position: absolute;
    right: 0;
    top: 1px;
  }
}

.coverage-chart {
  width: 40%;
  height: 110px;
  display: inline-block;
}

.coverage-legend {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  padding: 6px;
  margin-top: 14px;
  font-size: 0.8rem;
}
