.map__wrapper {
  display: table-row;
}

.map,
.map__wrapper,
.map__canvas {
  height: 100%;
  width: 100%;
}

.map {
  position: relative;
  z-index: 1;
}

.map-control-wrapper {
  position: absolute;
  margin: $base-spacing;
  top: 0;
  width: 340px;
  right: 0;

  @include media($mobile) {
    width: 250px;
  }

  &--left {
    left: 0;
  }

  &--smaller {
    width: 250px;
  }

  &--bottom {
    top: auto;
    bottom: 80px;

    & > .map-control {
      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
    }
  }
}

.map-control {
  width: 100%;
  border-radius: $base-border-radius;
  background: $white;
  padding: $base-spacing;
  box-shadow: $base-box-shadow;

  @include media($mobile-landscape) {
    display: none;
  }

  @include media($mobile) {
    display: none;
  }

  &__header {
    text-align: center;
  }

  &__content {
    button {
      width: 100%;
      margin-top: $small-spacing;
    }
  }

  &__tabs {
    margin: (-$base-spacing) (-$base-spacing) auto (-$base-spacing);
    font-size: $small-font-size;

    & > .tabs__item {
      width: 33.33%;
    }
  }
}

.classifications-list {
  .classification-item {
    position: relative;
    padding-right: 45px;
  }

  label {
    display: inline-block;
  }

  .react-toggle {
    position: absolute;
    right: 0;
    top: 1px;
  }
}

.chart-tooltip {
  margin-top: $base-spacing;
}

.coverage-chart {
  height: 250px;
}

.coverage-legend {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  margin-top: $small-spacing;
  font-size: $base-font-size !important;
}

.transitions-legend {
  margin: $small-spacing 0;
  font-size: $base-font-size !important;

  .transition-value {
    color: $light-gray;
  }
}

.transition-label,
.coverage-label {
  margin-right: 6px;
}

.transition-value,
.coverage-value {
  font-weight: 600;
}

.transition-arrow {
  font-size: $base-font-size;
  vertical-align: middle;
  margin: 0 4px;
  color: $light-gray;
}

.leaflet-control-zoom {
  margin-left: $base-spacing !important;
  margin-top: $base-spacing !important;
  box-shadow: $base-box-shadow;

  a {
    border-radius: $base-border-radius !important;
  }

  @include media($tablet) {
    display: none;
  }
}

.leaflet-top, .leaflet-bottom {
  z-index: 5;
}

.timeline-control {
  position: absolute;
  margin: $base-spacing;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: $base-spacing;
  box-shadow: $base-box-shadow;
  border-radius: $base-border-radius;
  background: $white;
  padding: $base-spacing;
  z-index: 10;
  max-height: 100%;


  &--vertical-smaller {
    bottom: auto;
    margin: $base-spacing;

    @include media($mobile) {
      @include map-modal-smaller;
    }
  }

  &--horizontal-smaller {
    margin: $base-spacing auto;
    width: 700px;

    @include media($mobile) {
      @include map-modal-smaller;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.4;
    z-index: 9;
  }

  &__header {
    text-align: center;
    border-bottom: 1px solid $light-gray;
    padding-bottom: $small-spacing;
    margin-bottom: $base-spacing;
  }

  &__content {
    overflow: auto;
    padding: $micro-spacing;
    max-height: 100%;

    @include media($mobile) {
      height: calc(100% - 40px);
    }
  }

  &__ok {
    float: right;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__close {
    right: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    margin: $small-spacing;
    color: $medium-gray;

    &:hover, &:active, &:focus {
      color: $dark-gray;
    }
  }
}

.tab-triple{
  & > li{
    width: calc(100% / 3);
    text-align: center;
  }
}
