.menu {
  line-height: 48px;
  float: right;

  @include media ($tablet) {
    position: fixed;
    z-index: 10;
    top: 0;
    left: -310px;
    width: 300px;
    height: 100%;

    background: $header-color;
    box-shadow: 4px 0 8px rgba($medium-gray, .4);
    line-height: 40px;
    @include transition(all .5s ease-in-out);
  }

  &--expanded {
    left: 0;
  }

  &__item {
    padding: 0 0 0 $base-spacing;
    display: inline-block;
    position: relative;

    &:hover {
      .submenu__items {
        display: block;
      }
    }

    @include media ($tablet) {
      display: block;
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $heading-font-family;
    font-size: 0.8rem;
    color: $medium-gray;

    &:hover {
      color: $dark-gray;
    }
  }
}

.submenu__items {
  @include media($desktop) {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: $light-green;
    z-index: $base-z-index + 5;
    box-shadow: $base-box-shadow;

    .menu__item {
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 300px;
      line-height: $base-font-size;
      display: block;
      padding: 0;

      &:hover {
        background: $medium-green;
      }
    }

    .menu__link {
      display: block;
      padding: $base-spacing;
      color: #fff;
    }

    &:hover {
      display: block;
    }
  }
}

.menu__header {
  font-size: 1.2rem;
  display: none;
  padding: $micro-spacing $base-spacing;
  margin-bottom: $micro-spacing;
  text-decoration: none;
  background: $light-green;
  color: $white;

  @include media ($tablet) {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba($light-green, 0.4);
  }

  .trigger {
    &, &:active, &:focus, &:hover {
      float: right;
      color: $white;
    }
  }
}

.header__menu-trigger {
  line-height: 44px;

  display: none;
  float: right;

  @include media ($tablet) {
    display: block;
  }
}

.trigger {
  font-size: 28px;
  padding: 4px 0px;
  border: none;
  outline: none;
  color: $medium-gray;
  background: transparent !important;
  box-shadow: none;

  &:active, &:focus {
    color: $medium-gray;
  }

  &:hover {
    color: $dark-gray;
  }
}
