.header__nav .menu
{
  line-height: 50px;

  float: right;

  @media (max-width: 768px)
  {
    position: fixed;
    z-index: 10;
    top: 0;
    left: -300px;

    width: 300px;
    height: 100%;

    background: #206676;
    box-shadow: 5px 0 8px rgba(39, 39, 39, .51);

    @include transition(all .5s ease-in-out);
  }
}

.header__nav .menu.state--expanded
{
  left: 0;

  @include transition(all .5s ease-in-out);
}

.menu__header
{
  font-size: 18px;

  display: none;

  padding: 0 20px;

  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #f7f7f7;

  @media (max-width: 768px)
  {
    display: block;

    width: 100%;

    border-bottom: 1px solid #015367;
  }
  .trigger
  {
    float: right;
  }
}

.menu__item
{
  font-size: 14px;

  padding: 0 0 0 20px;

  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #afafaf;

  @media (max-width: 768px)
  {
    display: block;

    width: 100%;

    border-bottom: 1px solid #015367;
  }
  &:hover
  {
    color: #d0d0d0;
  }
}
