.methodology-presentation {
  margin: $small-spacing;
  padding: $small-spacing;
  display: inline-block;
  border: 1px solid $light-gray;
  width: 250px;

  &__title {
    font-weight: 300;
    margin: $micro-spacing 0 0 0;
    font-size: $base-font-size;
    text-align: center;
  }

  img {
    margin: 0;
  }
}
