$background-color: 'gray';
$handler-color: 'blue';
$connector-color: 'green';

.react-timeline-slider {
  &__background {
    fill: $background-color;
    user-select: none;
  }

  &__tick-point {
    r: 2;
  }

  &__tick-text {
    font-size: 10px;
    user-select: none;
  }

  &__handler {
    user-select: none;
    r: 7;
    fill: $handler-color;
    transition: r 0.4s;

    &:hover {
      fill: darken($handler-color, 12%);
    }

    &:active {
      r: 9;
    }
  }

  &__line-between-handlers {
    stroke: $connector-color;
    stroke-width: 4px;
  }
}
