.tabs {
  margin-bottom: $base-spacing;
  border-bottom: 1px solid lighten($action-color, 20%);

  &__item {
    text-transform: uppercase;
    padding: $small-spacing $small-spacing $micro-spacing $small-spacing;
    color: $action-color;
    display: inline-block;
    cursor: pointer;
    text-align: center;

    &--active {
      border-bottom: 2px solid $primary-action-color;
      color: $primary-action-color;
    }
  }
}
