.ReactTabs {
  background-color: $white;
  box-shadow: $base-box-shadow;
  padding-top: $small-spacing;
  @include clearfix;

  &__TabList {
    padding: 0 $base-spacing;
    border-bottom: $base-border;
  }

  &__Tab {
    display: inline-block;
    bottom: rem(-1px);
    position: relative;
    list-style: none;
    padding: $micro-spacing $base-spacing;
    cursor: pointer;
    color: $light-gray;

    &:focus {
      outline: none;
    }

    &[aria-disabled=true] {
      cursor: default;
    }

    &--selected {
      border-bottom: rem(3px) solid $medium-green;
      color: $medium-green;
    }
  }

  .nav-buttons {
    text-align: right;
    top: rem(70px);
    right: initial;
    left: rem(-10px);
  }

  &__TabPanel {
    .map-control {
      box-shadow: none;
    }
  }
}
