<div class="footer">
  <div class="footer__seeg">
    <h4 class="seeg-label">Realização</h4>
    <a href="http://www.ecostage.com.br" target="_blank" class="seeg">
      <%= image_tag "seeg.png", class: "footer__image" %>
    </a>
  </div>
  <div class="footer__ecostage">
    <h4 class="ecostage-label">Desenvolvimento</h4>
    <a href="http://www.ecostage.com.br" target="_blank" class="ecostage">
      <%= image_tag "ecostage.svg", class: "footer__image" %>
    </a>
  </div>
  <div class="footer__copyright">
    <small>&copy; <%= Time.zone.now.year %> <%= t('views.layouts.footer.copyright') %></small>
  </div>
</div>
