<header class="header">
  <div class="header__nav">
    <div class="header__logo">
      <%= link_to image_tag("logo.svg"), root_path, class: "header__logo--version", version: "v.2.3" %>
    </div>

    <%= react_component('Menu', { currentUser: {
      name: current_user.try(:name),
      isSignedIn: user_signed_in?,
      isAdmin: current_user.try(:admin?)
    }, forumUrl: ENV['DISCOURSE_URL']}) %>
  </div>
</header>
