<div class="header">
  <div class="outer-container">
    <div class="header__nav">
      <div class="header__logo">
        <img src="http://placehold.it/200x50?text=LOGO">
      </div>

      <%= react_component('Menu') %>
    </div>
  </div>
</div>
