<header class="header">
  <div class="header__nav">
    <div class="header__logo">
      <%= link_to image_tag("logo.svg"), root_path, class: "header__logo--version", version: "v.3.0" %>
    </div>

    <%= react_component('Menu', { currentUser: {
      name: current_user.try(:name),
      isSignedIn: user_signed_in?,
      isAdmin: current_user.try(:admin?)
    }, forumUrl: ENV['DISCOURSE_URL']}) %>
  </div>
  <div class="menu__item translation main-nav__menu__item main-nav__translation">
   <i class="material-icons translation__icon">&#xE8E2;</i>
   <a class="menu__link translation__link"
     href="#"
     onclick="setLocale('pt-BR')">
     PT-BR
   </a>
   <a class="menu__link translation__link"
     href="#"
     onclick="setLocale('en')">
     EN
   </a>
 </div>
</header>
